﻿@model RochaGerenciamento.Domain.Entities.Employee

@{
    ViewBag.Title = "Edit";
}<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Employee")">Funcionarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Funcionario</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Funcionario</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Password</label>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Insira um password", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Data de Nascimento</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", placeholder = "Insira uma data de nascimento", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Name">Data de Admissao</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.HiredDate, new { @class = "form-control", placeholder = "Insira uma data de admissao", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="MaterialType">Cargo</label>
                @Html.DropDownList("CodePosition", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="MaterialType">Terceirizado?</label>
                @Html.DropDownList("ThirdParty", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="MaterialType">Status</label>
                @Html.DropDownList("CodeEmployeeStatus", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }
</div>