﻿@model RochaGerenciamento.Domain.Entities.Expenditure

@{
    ViewBag.Title = "Edit";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Expenditure")">Gastos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Gasto</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Gasto</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Obra">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="TipoGasto">Tipo de Gasto</label>
                @Html.DropDownList("CodeExpenditureType", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="StartDate">Data de Compra</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "form-control", placeholder = "Insira uma data de compra", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Name">Observação</label>
                @Html.TextBoxFor(model => model.Observation, new { @class = "form-control", placeholder = "Insira uma observação" })
            </div>

            <div class="form-group">
                <label for="Name">Descrição</label>
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Insira uma descrição" })
            </div>

            <div class="form-group">
                <label for="Name">Valor Total</label>
                @Html.TextBoxFor(model => model.Value, new { @class = "form-control", placeholder = "Insira um valor", required = true })
            </div>


            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>
