﻿@model RochaGerenciamento.Domain.Entities.Product

@{
    ViewBag.Title = "Edit";
}
<script>
    $(function () {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

    });
</script>
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product")">Produtos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Produto</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm("EditAux", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Produto</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Recurrent">Recorrente</label>
                @Html.DropDownList("Recurrent", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Limit">Limite</label>
                @Html.TextBoxFor(model => model.Limit, new { @type = "number", @min = "0", @class = "form-control", placeholder = "Insira um Limite", required = true })
            </div>

            <div class="form-group">
                <label for="Limit">Quantidade por Unidade</label>
                @Html.TextBoxFor(model => model.AmountPerUnit, new { @min='1', @type="number",  @class = "form-control", placeholder = "Insira uma quantidade", required = true })
            </div>

            <div class="form-group">
                <label for="Limit">Valor Produto</label>
                @Html.TextBoxFor(model => model.ValueUnit, new { @class = "form-control", placeholder = "Insira um valor do produto", required = true })
            </div>


            <div class="form-group">
                <label for="UnitType">Tipo de Unidade</label>
                @Html.DropDownList("CodeUnitType", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="UnitType">Fornecedor</label>
                @Html.DropDownList("CodeProvider", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="UnitType">Fabricante</label>
                @Html.DropDownList("CodeManufacturer", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="UnitType">Especificações</label>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Escolher um arquivo&hellip; <input type="file" name="uploadFile" style="display: none;">
                        </span>
                    </label>
                    <input type="text" name="Specs" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }
</div>