﻿@model RochaGerenciamento.Domain.Entities.Project

@{
    ViewBag.Title = "Edit";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Construction")">Obras</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Plan")">Planejamentos</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Project")">Projetos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Projeto</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.CodeCreationUser)
        @Html.HiddenFor(model => model.IdcActive)
        <fieldset>
            <legend>Editar Projeto</legend>

            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Value">Valor</label>
                <input value="@(Model.Value)" id="Value" name="Value" class="form-control" placeholder="Insira um Valor" required />
            </div>

            <div class="form-group">
                <label for="SubService">Tipo de Sub-Serviço</label>
                @Html.DropDownList("CodeSubService", null, "Selecione", new { @class = "selectpicker" })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>
