﻿@model RochaGerenciamento.Domain.Entities.Contract

@{
    ViewBag.Title = "Create";
}
<script>

    $(document).ready(function () {
        $(".coowners").hide();
        $('.disable_it').attr('disabled', true);

        $(".btn2").click(function () {
            $(".cod_owners").val($("#CodeOwner").val());
        });

        $(".amount").blur(function () {
            var j = 0;
            $(".coowners").hide();
            $('.disable_it').attr('disabled', true);
            for (i = 0; i < $(this).val() - 1 ; i++) {
                j = i + 1;
                document.getElementsByClassName("coowners")[i].style.display = "block";
                document.getElementsByClassName("enable_cod_client")[j].disabled = false;
                document.getElementsByClassName("enable_cod_owner")[i].disabled = false;
            }
            
        });

    });
</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Contract")">Contratos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Contrato</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <div class="container">

        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" class="not-clickable-anchor btn btn-primary btn-circle">1</a>
                    <p>Passo 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Passo 2</p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Criar Contrato</legend>
                <div class="row setup-content" id="step-1">


                    <div class="form-group">
                        <label for="Name">Nome</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
                    </div>


                    <div class="form-group">
                        <label for="Birthdate">Data do Contrato</label>
                        <div class='input-group date' id='only-date'>
                            @Html.TextBoxFor(model => model.AgreementDate, new { @class = "form-control", placeholder = "Insira uma data de acordo", required = true })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Name">Tipo de Contrato</label>
                        @Html.DropDownList("CodeContractType", null, "Selecione", new { @class = "selectpicker", required = true })
                    </div>


                    <div class="form-group">
                        <label for="Name">Proprietario</label>
                        @Html.DropDownList("CodeOwner", null, "Selecione", new { @class = "selectpicker", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Name">Testemunha</label>
                        @Html.TextBoxFor(model => model.WitnessName, new { @class = "form-control", placeholder = "Insira um nome de testemunha", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Name">Testemunha CPF</label>
                        @Html.TextBoxFor(model => model.WitnessCPF, new { @class = "form-control", placeholder = "Insira um cpf da testemunha", required = true })
                    </div>
                    <button class="btn2 btn btn-primary nextBtn btn-lg pull-right" id="first-step-next" type="button">Próximo</button>
                    
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="form-group">
                        <label for="Name">Quantidade de Co-Proprietarios</label>
                        <input type="number" min="1" max="7" class="amount form-control"  />
                    </div>

                    <div class="form-group">
                        <label for="Name">Co-Proprietario 1</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[0].CodeClient", @class = "selectpicker", required = true })
                        <input type="hidden" class="cod_owners" name="CoOwners[0].CodeOwner" />
                    </div>

                    <div class="coowners form-group">
                        <label for="Name">Co-Proprietario 2</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[1].CodeClient", @class = "inp_coowner disable_it enable_cod_client selectpicker" })
                        <input type="hidden" class="cod_owners enable_cod_owner disable_it" name="CoOwners[1].CodeOwner" />
                    </div>

                    <div class="coowners form-group">
                        <label for="Name">Co-Proprietario 3</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[2].CodeClient", @class = "inp_coowner disable_it enable_cod_client selectpicker" })
                        <input type="hidden" class="cod_owners enable_cod_owner disable_it" name="CoOwners[2].CodeOwner" />
                    </div>

                    <div class="coowners form-group">
                        <label for="Name">Co-Proprietario 4</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[3].CodeClient", @class = "inp_coowner disable_it enable_cod_client selectpicker" })
                        <input type="hidden" class="cod_owners enable_cod_owner disable_it" name="CoOwners[3].CodeOwner" />
                    </div>

                    <div class="coowners form-group">
                        <label for="Name">Co-Proprietario 5</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[4].CodeClient", @class = "inp_coowner disable_it enable_cod_client selectpicker" })
                        <input type="hidden" class="cod_owners enable_cod_owner disable_it" name="CoOwners[4].CodeOwner" />
                    </div>

                    <div class="coowners form-group">
                        <label for="Name">Co-Proprietario 6</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[5].CodeClient", @class = "inp_coowner disable_it enable_cod_client selectpicker" })
                        <input type="hidden" class="cod_owners enable_cod_owner disable_it" name="CoOwners[5].CodeOwner" />
                    </div>

                    <div class="coowners form-group">
                        <label for="Name">Co-Proprietario 7</label>
                        @Html.DropDownList("CodeClient", null, "Selecione", new { Name = "CoOwners[6].CodeClient", @class = "inp_coowner disable_it enable_cod_client selectpicker" })
                        <input type="hidden" class="cod_owners enable_cod_owner disable_it"  name="CoOwners[6].CodeOwner" />
                    </div>

                    

                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Cadastrar</button>
                </div>
            </fieldset>
        }
    </div>

</div>
