﻿@model RochaGerenciamento.Domain.Entities.Contract

@{
    ViewBag.Title = "Details";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Contract")">Contratos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhe Contrato</li>
        </ol>
    </nav>
    <fieldset>
        <legend>Detalhes</legend>

        <div class="form-group">
            <label for="Name">Obra</label>
            @Html.TextBoxFor(model => model.Owner.Unit.Construction.Name, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Nome</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", disabled = true })
        </div>


        <div class="form-group">
            <label for="Birthdate">Data do Contrato</label>
            @Html.TextBoxFor(model => model.AgreementDate, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Tipo de Contrato</label>
            @Html.TextBoxFor(model => model.ContractType.Name, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Unidade Comprada</label>
            @Html.TextBoxFor(model => model.Owner.Unit.Name, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Cliente</label>
            @Html.TextBoxFor(model => model.Owner.Client.Name, new { @class = "form-control",  disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Testemunha</label>
            @Html.TextBoxFor(model => model.WitnessName, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Testemunha CPF</label>
            @Html.TextBoxFor(model => model.WitnessCPF, new { @class = "form-control", disabled = true })
        </div>

        @foreach(var coOwner in Model.CoOwners)
        {
        <div class="form-group">
            <label for="Name">Co-Proprietario</label>
            @Html.TextBoxFor(x => coOwner.Client.Name, new { @class = "form-control", disabled = true })
        </div>
        }

      
    </fieldset>

</div>
