﻿@model RochaGerenciamento.Domain.Entities.Contract

@{
    ViewBag.Title = "Edit";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Contract")">Contratos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Contrato</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Contrato</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>


            <div class="form-group">
                <label for="Birthdate">Data do Contrato</label>
                <div class='input-group date' id='only-date'>
                    @Html.TextBoxFor(model => model.AgreementDate, new { @class = "form-control", placeholder = "Insira uma data de acordo", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Name">Tipo de Contrato</label>
                @Html.DropDownList("CodeContractType", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Cliente</label>
                @Html.DropDownList("CodeOwner", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Testemunha</label>
                @Html.TextBoxFor(model => model.WitnessName, new { @class = "form-control", placeholder = "Insira um nome de testemunha", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Testemunha CPF</label>
                @Html.TextBoxFor(model => model.WitnessCPF, new { @class = "form-control", placeholder = "Insira um cpf da testemunha", required = true })
            </div>


            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>
