﻿@model RochaGerenciamento.Domain.Entities.Construction

@{
    ViewBag.Title = "Details";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Construction")">Obras</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhes Obra</li>
        </ol>
    </nav>
    <fieldset>
        <legend>Detalhes</legend>

        <div class="form-group">
            <label for="Name">Nome</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Endereço</label>
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Cidade</label>
            @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Número</label>
            @Html.TextBoxFor(model => model.Address.Number, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Bairro</label>
            @Html.TextBoxFor(model => model.Address.Borough, new { @class = "form-control", disabled = "disabled" })
        </div>
    </fieldset>
    
</div>
