﻿@model RochaGerenciamento.Domain.Entities.Construction

@{
    ViewBag.Title = "Edit";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Construction")">Obras</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Obra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Obra</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

        
            <div class="form-group">
                <label for="MaterialType">Rua</label>
                @Html.TextBoxFor(model => model.Address.Name, new { @class = "form-control ", placeholder = "Insira uma Rua" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Cidade</label>
                @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control ", placeholder = "Insira uma Cidade" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Bairro</label>
                @Html.TextBoxFor(model => model.Address.Borough, new { @class = "form-control ", placeholder = "Insira um bairro" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Numero</label>
                @Html.TextBoxFor(model => model.Address.Number, new { @class = "form-control ", placeholder = "Insira um numero" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Estado</label>
                @Html.TextBoxFor(model => model.Address.State, new { @class = "form-control ", placeholder = "Insira um estado" })
            </div>
           

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>