﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.Construction>

@{
    ViewBag.Title = "Obras";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Obras</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
   
    <button type="button" class="btn btn-default"><a href="@Url.Action("Create")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    <div class="table-responsive">
        <table id="grid-data" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "Construction")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Name">Nome da Obra</th>
                    <th data-width="10" data-sortable="false" data-column-id="Address">Endereço</th>
                    <th data-width="10" data-sortable="false" data-column-id="Borough">Bairro</th>
                    <th data-width="10" data-sortable="false" data-column-id="City">Cidade</th>
                    <th data-width="10" data-sortable="false" data-column-id="Number">Número</th>
                    <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
    @Html.Hidden("Controller", "Construction")

</div>