﻿@model RochaGerenciamento.Domain.Entities.ContractIncoming
@{
    ViewBag.Title = "Edit";
}


<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ListIncoming", "ContractIncoming")">Receitas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Registro Financeiro</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Registro Financeiro</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            @Html.HiddenFor(model => model.CodeContract)
            @Html.HiddenFor(model => model.CodeBill)

            <div class="form-group">
                <label for="Obra">Tipo de Receita</label>
                @Html.DropDownList("CodeIncomingType", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>


            
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }
</div>
