﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.ContractIncoming>
@using RochaGerenciamento.MVC.Security
@{
    ViewBag.Title = "Index";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Receitas</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <div class="table-responsive">
        <table id="grid-data" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ContractIncoming")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Contract">Contrato</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="IncomeType">Tipo de Receita</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValue">Valor Total</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Checked">Recebido?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountInstallments">Qtde de Parcelas</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountInstallmentsPaid">Qtde Parcelas Pagas</th>
                    <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>


    @Html.Hidden("Controller", "ContractIncoming")



</div>