﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.ContractIncoming>
@using RochaGerenciamento.MVC.Security
@{
    ViewBag.Title = "Index";
}

<script>

    function funcaoPromptBaixa(url, table) {

        $.ajax({
            url: url,
            type: 'Post',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            traditional: true,
            beforeSend: function (xhr) {
                $(".loader").show();
            },
            success: function (result) {
                $(".loader").hide();
                if (result.Error != "")
                    alert(result.Error);
                if (result.Success != "") {
                    location.reload();
                    alert(result.Success);
                }
            }
        });
    }

    $(function () {



        var grid = $("#grid-data1").bootgrid({
            ajax: true,
            post: function () {
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            formatters: {
                "commands": function (column, row) {
                    detalhe = "<button  type=\"button\" title=\"Detalhes\" class=\"btn btn-xs btn-default command-detalhe\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-th-list\"></span></button>";
                    edicao = "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-edit\"></span></button> ";
                    deletar = "<button  type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";
                    finish = "<button  type=\"button\" title=\"Finalizar\" class=\"btn btn-xs btn-default command-finish\" data-row-id=\"" + row.CodeBill + "\"><span class=\"glyphicon glyphicon-ok\"></span></button>";

                    if (row.Checked == "Não")
                        return finish + detalhe + deletar + edicao;
                    return detalhe;
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            var url = "../" + $("#Controller").val();
            grid.find(".command-edit").on("click", function (e) {
                location.href = url + "/Edit/" + $(this).data("row-id");
            }).end().find(".command-delete").on("click", function (e) {
                if (confirm('Deseja excluir este registro?'))
                    location.href = url + "/Delete/" + $(this).data("row-id");
            }).end().find(".command-detalhe").unbind().on("click", function (e) {
                location.href = url + "/Details/" + $(this).data("row-id");
            }).end().find(".command-finish").unbind().on("click", function (e) {
                if (confirm('Deseja dar baixa em todo o boleto e suas parcelas?'))
                    funcaoPromptBaixa("../ManageBill/ConfirmPaymentAll/" + $(this).data("row-id"), "#grid-data");
            });
        });

    });
</script>


<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Receitas</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <button type="button" class="btn btn-default"><a href="@Url.Action("Create")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    <div class="table-responsive">
        <table id="grid-data1" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ContractIncoming")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Contract">Contrato</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="IncomeType">Tipo de Receita</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValue">Valor Total</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Checked">Recebido?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountInstallments">Qtde de Parcelas</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountInstallmentsPaid">Qtde Parcelas Pagas</th>
                    <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
   
    
    @Html.Hidden("Controller", "ContractIncoming")
    


</div>