﻿@model RochaGerenciamento.Domain.Entities.User

@{
    ViewBag.Title = "Create";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "User")">Usuários</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Usuário</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
       
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Criar Usuário</legend>

            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Password">Senha</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Insira uma Senha", required = true })
            </div>

            <div class="form-group">
                <label for="Login">Login</label>
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Insira um Login", required = true })
            </div>

            <div class="form-group">
                <label for="Login">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Insira um Email", required = true })
            </div>

            <div class="form-group">
                <label for="Profile">Perfil</label>
                @Html.DropDownList("CodeProfile", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </fieldset>
    }

</div>