﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.User>

@{
    ViewBag.Title = "Usuários";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Usuários</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    
    <button type="button" class="btn btn-default"><a href="@Url.Action("Create")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    <div class="table-responsive">
        <table id="grid-data" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "User")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Name">Nome do Usuário</th>
                    <th data-width="10" data-sortable="false" data-column-id="Login">Login do Usuario</th>
                    <th data-width="10" data-sortable="false" data-column-id="Profile">Perfíl</th>
                    <th data-width="10" data-sortable="false" data-column-id="Email">Email</th>
                    <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
    @Html.Hidden("Controller", "User")

</div>
