﻿@model RochaGerenciamento.Domain.Entities.Order

@{
    ViewBag.Title = "Edit";
    var values = Request.UrlReferrer.ToString().Split('/');
    var url = values[values.Length - 1];
    if (url == "ManageOrder")
    {
        url = "Index";
    }
    RochaGerenciamento.Domain.ValueObject.Session.UrlOrder = url;
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action(url, "ManageOrder")">Ordens de Compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Aprovar Ordem de Compra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm("Approve", "ManageOrder",
                           FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Aprovar Ordem de Compra</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.NumberOrder)
            @Html.HiddenFor(model => model.CodeConstructionDestination)
            @Html.HiddenFor(model => model.CodeBill)
            @Html.HiddenFor(model => model.TotalValue)
            @Html.HiddenFor(model => model.Discount)
            @Html.HiddenFor(model => model.TotalValueSale)
            @Html.HiddenFor(model => model.Invoice)
            <input type="hidden" value="1" name="Approval"/>
            <div class="form-group">
                <label for="Name">Data Estimada para entrega</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.EstimationDate, new { @class = "form-control", placeholder = "Insira uma data de início", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="Messagem">Mensagem</label>
                <textarea class="form-control" readonly name="message" id="Message">A ordem de compra de número @(Model.NumberOrder) foi aprovada com sucesso. Acesse o sistema e confira os detalhes.</textarea>
            </div>
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Aprovar</button>
            </div>
        </fieldset>
    }

</div>