﻿@model RochaGerenciamento.Domain.Entities.Order

@{
    ViewBag.Title = "Create";
}


<script>

    $(document).ready(function () {
        

       // $("#LaborCost,#ShippingCost").val("0.00");
         $("#LaborCost,#ShippingCost").val("0,00");
    
        var totalValue = 0;
        var listAllValues = [];
        var listAllValuesUnit = [];
        $(".btn2").click(function () {
            listAllValues = [];
            var values = $('#CodeProduct').val();
            var selText = "";
            $("#CodeProduct option:selected").each(function () {
                var $this = $(this);
                if ($this.length) {
                    selText = selText + ";" + $this.text();
                }
            });
            var listSelText = selText.split(";");
            $("#add-products").html("");
            $("#Message").append("A Ordem de compra solicitada foi criada e está sob aprovação do financeiro. Os produtos solicitados foram: #BREAKLINE");
            for (i = 1 ; i < listSelText.length  ; i++) {
                getValue = listSelText[i].split("| R$:");
                listAllValues.push(getValue[1]);
                $("#Message").append("- " + listSelText[i] + "#BREAKLINE");
                
                $("#add-products").append("<div class='form-group'><label for='Name'>" + listSelText[i] + "</label>" +
                    "<table><tr><th>Quantidade</th><th>Valor</th><th>Acao</th></tr><tr><td>" +
                    "<input name='OrderProducts[" + (i - 1) + "].Amount' class='form-control amount_decimal_point' data-val='true' data-val-number='The field Amount must be a number.' data-val-required='The Amount field is required.' id='OrderProducts_Amount' placeholder='Insira uma quantidade' required='True' type='text'  />" +
                    "</td><td><input name='OrderProducts[" + (i - 1) + "].Product.ValueUnit' value='" + getValue[1] + "' disabled onblur='document.getElementById(\"OrderProducts_ValueUnit[" + (i - 1) + "]\").value = this.value;' class='form-control new_value_product' id='value_product[" + (i - 1) + "]'  data-val='true' data-val-number='The field Amount must be a number.' required='True' type='text'  /></td>" +
                    "<td>	<input type='hidden' id='OrderProducts_CodeProduct' name='OrderProducts[" + (i - 1) + "].CodeProduct' value='" + values[i - 1] + "' /><input type='hidden' id='OrderProducts_ValueUnit[" + (i - 1) + "]' name='OrderProducts[" + (i - 1) + "].ValueUnit' value='" + getValue[1] + "' />" +
                    "<input type='hidden' id='OrderProducts_Product_Code' name='OrderProducts[" + (i - 1) + "].Product.Code' value='" + values[i - 1] + "' />" +
                    "Permanente? Sim<input type='radio' disabled value='true'  class='permanentPrice[" + (i - 1) + "] disable-permanent' name='permanentPrice[" + (i - 1) + "]'  />" +
                    "Nao<input type='radio' checked disabled value='false'  class='permanentPrice[" + (i - 1) + "]  disable-permanent' name='permanentPrice[" + (i - 1) + "]'  />" +
                    "<button type='button'  onclick='document.getElementsByClassName(\"permanentPrice[" + (i - 1) + "]\")[1].disabled = false;document.getElementsByClassName(\"permanentPrice[" + (i - 1) + "]\")[0].disabled = false;document.getElementById(\"value_product[" + (i - 1) + "]\").disabled = false;' class='btn btn-default btn-sm value_product'><span class='glyphicon glyphicon-edit '></span> Edit</button></td></tr></table></div>").
                ready(function () {
                    $(".new_value_product").maskMoney({ thousands: '', decimal: ',', allowZero: true });
                    $(".amount_decimal_point").maskMoney({ thousands: '', decimal: ',', allowZero: false, precision: 1 });
                    $('form').submit(function () {
                        $(".disable-permanent").attr('disabled', false);

                        //Rest of code
                    });
                });    
            }
        })

        

        $(".btn3").click(function () {
            totalValue = 0;
            for (i = 0 ; i < listAllValues.length  ; i++) {
                listAllValues[i] = (document.getElementsByName("OrderProducts["+i+"].Product.ValueUnit")[0].value);
                totalValue = parseFloat(totalValue) + (parseFloat(listAllValues[i].replace(",", ".")) * parseFloat($("input[name='OrderProducts[" + (i) + "].Amount']").val().replace(",",".")));
            }
                
            $("#add-values").html("");
            //$("#add-values").append("<div class='form-group'><label for='Name'>Valor Total da Ordem (R$)</label><input name='TotalValue' class='form-control' id='TotalValue' type='text'  readonly='readonly' value='" + totalValue.toFixed(2) + "' />");
            $("#TotalValueSale").val(totalValue.toFixed(2).replace(".", ","));
            //$("#TotalValueSale").val(totalValue.toFixed(2));
            $("#add-values").append("<div class='form-group'><label for='Name'>Valor Total da Ordem (R$)</label><input name='TotalValue' class='form-control' id='TotalValue' type='text'  readonly='readonly' value='" + totalValue.toFixed(2).replace(".", ",") + "' />");
        })

        
        
    });

</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageOrder")">Ordens de Compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Ordem de Compra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <div class="container">

        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" class="not-clickable-anchor btn btn-primary btn-circle">1</a>
                    <p>Passo 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Passo 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Passo 3</p>
                </div>

            </div>
        </div>
        @using (Html.BeginForm("CreateAux", "ManageOrder",
                           FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Criar Ordem de Compra</legend>

                <div class="row setup-content" id="step-1">
                    <input id="Approval" name="Approval" value="0" type="hidden" />
                    <div class="form-group">
                        <label for="Name">Nome</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
                    </div>
                    
                    <div class="form-group">
                        <label for="Obra">Número Ordem de Compra</label>
                        @Html.TextBoxFor(model => model.NumberOrder, new { @Value = @ViewBag.NumberOrder, @class = "form-control", placeholder = "Insira um Numero", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Nota Fiscal</label>
                        @Html.TextBoxFor(model => model.Invoice, new { @class = "form-control", placeholder = "Insira uma Nota Fiscal" })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Obra de Entrega</label>
                        @Html.DropDownList("CodeConstructionDestination", null, "Selecione", new { @class = "selectpicker", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Produto</label>
                        @Html.DropDownList("CodeProduct", null, null, new { @class = "selectpicker", multiple = "multiple", required = "required" })
                    </div>

                    <button class="btn2 btn btn-primary nextBtn btn-lg pull-right" id="first-step-next" type="button">Próximo</button>

                </div>
                <div class="row setup-content" id="step-2">
                    <span id="add-products">

                    </span>

                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button id="second-step-next" class="btn3 btn btn-primary nextBtn btn-lg pull-right" type="button">Próximo</button>
                </div>
                <div class="row setup-content" id="step-3">
                    <span id="add-values">

                    </span>
                    <div class="form-group">
                        <label for="Obra">Desconto</label>
                        @Html.TextBoxFor(model => model.Discount, new {min="0", value="0", @class = "form-control", placeholder = "Insira um desconto", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Obra">Frete</label>
                        @Html.TextBoxFor(model => model.ShippingCost, new { min = "0", value = "0", @class = "form-control", placeholder = "Insira um frete", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Obra">Mão de Obra</label>
                        @Html.TextBoxFor(model => model.LaborCost, new { min = "0", value = "0", @class = "form-control", placeholder = "Insira um frete", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Obra">Valor Final</label>
                        @Html.TextBoxFor(model => model.TotalValueSale, new {@readonly = "readonly", @class = "form-control", placeholder = "", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Messagem">Mensagem</label>
                        <textarea class="form-control" readonly name="message" id="Message"></textarea>
                    </div>
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Cadastrar</button>

                </div>


            </fieldset>
        }

    </div>
</div>