﻿@model RochaGerenciamento.Domain.Entities.Order
@using RochaGerenciamento.Domain.Enums

@{
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("pt-BR");
    ViewBag.Title = "Details";
    
}
<script>
    $(function () {
        var grid = $("#grid-data-order-product").bootgrid({
            ajax: true,
            post: function () {
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            requestHandler: function (request) {
                request.code= @(Model.Code);
                return request;
            }
        });
    })
</script>
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action(RochaGerenciamento.Domain.ValueObject.Session.UrlOrder, "ManageOrder")">Ordens de Compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhe Ordem de Compra</li>
        </ol>
    </nav>
    <fieldset>
        <legend>Detalhes</legend>

        <div class="form-group">
            <label for="Obra">Aprovação</label>
            <input type="text" value="@( Model.Approval.Equals(RegisterSituation.Active) ? RegisterSituation.Yes : RegisterSituation.No) " class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="Name">Nome</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true, disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Obra">Número Ordem de Compra</label>
            @Html.TextBoxFor(model => model.NumberOrder, new { @class = "form-control", placeholder = "Insira um Numero", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Obra">Nota Fiscal</label>
            @Html.TextBoxFor(model => model.Invoice, new { @class = "form-control", placeholder = "Insira uma Nota Fiscal", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Obra">Obra de Entrega</label>
            @Html.TextBoxFor(model => model.Construction.Name, new { @class = "form-control", placeholder = "Insira um Numero", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Obra">Valor Total</label>
            @Html.TextBoxFor(model => model.TotalValue, new { @class = "form-control", placeholder = "Insira um Numero", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Obra">Desconto</label>
            @Html.TextBoxFor(model => model.Discount, new { @class = "form-control", placeholder = "", disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Obra">Frete</label>
            @Html.TextBoxFor(model => model.ShippingCost, new {  @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Obra">Mão de Obra</label>
            @Html.TextBoxFor(model => model.LaborCost, new {  @class = "form-control", disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Obra">Valor Final</label>
            @Html.TextBoxFor(model => model.TotalValueSale, new { @class = "form-control", placeholder = "", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Obra">Estimativa chegada ao Almoxarifado</label>
            <input type="text" value="@(Model.EstimationDate == null ? String.Empty : Model.EstimationDate.Value.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />

        </div>

        <div class="form-group">
            <label for="Obra">Data de Recebimento</label>
            <input type="text" value="@(Model.ArrivedDate == null ? String.Empty : Model.ArrivedDate.Value.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />
        </div>

        <div class="form-group">
            <label for="Obra">Data Ordem</label>
            <input type="text" value="@( Model.CreationDate.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />
        </div>



    </fieldset>
    <div class="table-responsive">
        <table id="grid-data-order-product" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "OrderProduct")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Order">Sequência</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Nome</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Limit">Limite</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="ValueUnit">Valor</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountVerified">Quantidade Verificada</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValue">Valor Total</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                    <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>