﻿@model RochaGerenciamento.Domain.Entities.Order

@{
    ViewBag.Title = "Edit";
}


<script>
    $(document).ready(function () {
        var totalValue = 0;
        var listAllValues = [];
        var listAllValuesUnit = [];
        $(".btn2").click(function () {
            listAllValues = [];
            var values = $('#CodeProduct').val();
            var selText = "";
            $("#CodeProduct option:selected").each(function () {
                var $this = $(this);
                if ($this.length) {
                    selText = selText + ";" + $this.text();
                }
            });
            var listSelText = selText.split(";");

            for (i = 1 ; i < listSelText.length  ; i++) {
                getValue = listSelText[i].split("| R$:");
                listAllValues.push(getValue[1]);
            }


        })

        $(".btn3").click(function () {
            totalValue = 0;
            for (i = 0 ; i < listAllValues.length  ; i++) {
                totalValue = parseFloat(totalValue) + (parseFloat(listAllValues[i].replace(",", ".")) * parseFloat($("input[name='OrderProducts[" + (i) + "].Amount']").val()));
            }

            $("#add-values").html("");
            //$("#add-values").append("<div class='form-group'><label for='Name'>Valor Total da Ordem (R$)</label><input name='TotalValue' class='form-control' id='TotalValue' type='text'  readonly='readonly' value='" + totalValue.toFixed(2) + "' />");
            $("#add-values").append("<div class='form-group'><label for='Name'>Valor Total da Ordem (R$)</label><input name='TotalValue' class='form-control' id='TotalValue' type='text'  readonly='readonly' value='" + totalValue.toFixed(2).replace(".", ",") + "' />");
        })


    });

</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageOrder")">Ordens de Compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Ordem de Compra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <div class="container">

        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" class="not-clickable-anchor btn btn-primary btn-circle">1</a>
                    <p>Passo 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Passo 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Passo 3</p>
                </div>

            </div>
        </div>
        @using (Html.BeginForm("Edit", "ManageOrder",
                           FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            @Html.HiddenFor(model => model.CodeBill)
            
            <fieldset>
                <legend>Editar Ordem de Compra</legend>

                <div class="row setup-content" id="step-1">
                    <input id="Approval" name="Approval" value="0" type="hidden" />
                    <div class="form-group">
                        <label for="Name">Nome</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Número Ordem de Compra</label>
                        @Html.TextBoxFor(model => model.NumberOrder, new { @class = "form-control", placeholder = "Insira um Numero", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Nota Fiscal</label>
                        @Html.TextBoxFor(model => model.Invoice, new { @class = "form-control", placeholder = "Insira uma Nota Fiscal" })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Obra de Entrega</label>
                        @Html.DropDownList("CodeConstructionDestination", null, "Selecione", new { @class = "selectpicker", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Produto</label>
                        @Html.DropDownList("CodeProduct", null, null, new { @class = "selectpicker", multiple = "multiple", required = "required" })
                    </div>

                    <button class="btn2 btn btn-primary nextBtn btn-lg pull-right" id="first-step-next" type="button">Próximo</button>

                </div>
                <div class="row setup-content" id="step-2">
                    <span id="add-products">

                    </span>
                @{
                    int counter = 0;
                    foreach (var product in Model.OrderProducts)
                    {
                    
                    <div class="form-group">
                        <label for="Name">@product.Product.Name</label>
                        <input name="OrderProducts[@counter].Amount" class="form-control amount_decimal_point" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="OrderProducts_Amount" placeholder="Insira uma quantidade" required="True" value="@product.Amount" type="text">
                        <input type="hidden" id="OrderProducts_CodeProduct" name="OrderProducts[@counter].CodeProduct" value="@product.CodeProduct">
                        <input type="hidden" id="OrderProducts_ValueUnit" name="OrderProducts[@counter].ValueUnit" value="@product.ValueUnit">
                        <input type="hidden" id="OrderProducts_Code" name="OrderProducts[@counter].Code" value="@product.Code">
                        <input type="hidden" id="OrderProducts_CodeOrder" name="OrderProducts[@counter].CodeOrder" value="@product.CodeOrder">

                        <input type="hidden" id="OrderProducts_CodeCreationUser" name="OrderProducts[@counter].CodeCreationUser" value="@product.CodeCreationUser">
                        <input type="hidden" id="OrderProducts_CreationDate" name="OrderProducts[@counter].CreationDate" value="@product.CreationDate">
                        <input type="hidden" id="OrderProducts_IdcActive" name="OrderProducts[@counter].IdcActive" value="@product.IdcActive">
                    </div>
                        counter = counter + 1;
                    }
                }
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button id="second-step-next" class="btn3 btn btn-primary nextBtn btn-lg pull-right" type="button">Próximo</button>
                </div>
                <div class="row setup-content" id="step-3">
                    <span id="add-values">

                    </span>
                    <div class="form-group">
                        <label for="Obra">Desconto</label>
                        @Html.TextBoxFor(model => model.Discount, new { min = "0", value = "0", @class = "form-control", placeholder = "Insira um desconto", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Obra">Frete</label>
                        @Html.TextBoxFor(model => model.ShippingCost, new { min = "0", value = "0", @class = "form-control", placeholder = "Insira um frete", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Obra">Mão de Obra</label>
                        @Html.TextBoxFor(model => model.LaborCost, new { min = "0", value = "0", @class = "form-control", placeholder = "Insira um frete", required = true })
                    </div>
                    <div class="form-group">
                        <label for="Obra">Valor Final</label>
                        @Html.TextBoxFor(model => model.TotalValueSale, new { @readonly = "readonly", @class = "form-control", placeholder = "", required = true })
                    </div>
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Editar</button>

                </div>


            </fieldset>
        }

    </div>
</div>