﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.Order>

@{
    ViewBag.Title = "Index";

    RochaGerenciamento.Domain.ValueObject.Session.UrlOrder = "";
}
<script>


    $(function () {

        $("#filter-confirm").click(function () {

            $("#grid-data1").bootgrid("destroy");
            grid("#grid-data1", $("#filter-constr").val(), $("#filter-order-number").val(), $("#filter-prov").val());

        });

        var index = 0;

        grid("#grid-data1");


        function grid(grids, filtroConstrc, filtroOrderNumber, filtroProvider) {

            var grid = $(grids).bootgrid({
                ajax: true,
                post: function () {
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                templates: {
                    header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\"><div class=\"row\"><div class=\"col-sm-12 actionBar\"><p class=\"{{css.actions}}\"></p></div></div></div>"
                },
                requestHandler: function (request) {
                    request.nameConstruction = filtroConstrc || "";
                    request.numberOrder = filtroOrderNumber || "";
                    request.nameProvider = filtroProvider || "";

                    return request;
                },
                formatters: {
                    "commands": function (column, row) {

                        editar = "<button type=\"button\" title=\"Aprovar\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-ok\"></span></button>";
                        excluir = "<button  type=\"button\" title=\"Excluir\" class=\"btn btn-xs btn-default command-delete\"  data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";
                        detalhe = "<button  type=\"button\" title=\"Detalhes\" class=\"btn btn-xs btn-default command-detalhe\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-th-list\"></span></button>";
                        editarAux = "<button type=\"button\" class=\"btn btn-xs btn-default command-edit-order\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-edit\"></span></button> ";

                        if (row.Recurrent == "Sim" && row.Approval == "Não")
                            return editar + editarAux + detalhe + excluir;
                        if (row.Approval == "Não")
                            return  editarAux + detalhe + excluir;
                        return detalhe ;
                    },
                    "Verified": function (column, row) {
                        if ((row.Verified) == "1")
                            return "<span tittle='No Prazo' style='color:green;'><span class=\"glyphicon glyphicon-thumbs-up\"></span></span>"; 
                        if ((row.Verified) == "0")
                            return "<span tittle='Vencido' style='color:red;'><span class=\"glyphicon glyphicon-thumbs-down\"></span></span>";
                        return "Nao Analisado";
                    },
                }

            }).on("loaded.rs.jquery.bootgrid", function () {
                var url =  $("#Controller").val();
                grid.find(".command-delete").unbind().on("click", function (e) {
                    if (confirm('Deseja excluir este registro?'))
                        location.href = url + "/Delete/" + $(this).data("row-id");
                }).end().find(".command-edit").on("click", function (e) {
                    location.href = url + "/Approve/" + $(this).data("row-id");
                }).end().find(".command-edit-order").on("click", function (e) {
                    location.href = url + "/Edit/" + $(this).data("row-id");
                }).end().find(".command-detalhe").unbind().on("click", function (e) {
                    location.href = url + "/Details/" + $(this).data("row-id");
                });
            });
        }
    });
</script>


<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ordens de Compra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <button type="button" class="btn btn-default"><a href="@Url.Action("Create")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    <div class="table-responsive">
        <table id="grid-data1" class="table table-condensed table-hover table-striped" data-url="@Url.Action("ListOrder", "ManageOrder")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-formatter="Verified"  data-order="asc" data-column-id="Verified">Conforme?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberService">Número Ordem Compra</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra de Entrega</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="EstimationDate">Data Estimada Entrega</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="CreationDate">Data de criação</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Approval">Aprovado?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValue">Valor Total</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Discount">Desconto</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValueSale">Valor Final</th>
                    <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
    @Html.Hidden("Controller", "ManageOrder")
    <fieldset>
        <legend>Filtros</legend>
        <div class="row">
            <div class="form-group">
                <label for="Name">Obra</label>
                <input type="text" id="filter-constr" />

                <label for="Name">Número da Ordem</label>
                <input type="text" id="filter-order-number" />
            </div>

            <div class="form-group">
                <label for="Name">Fornecedor</label>
                <input type="text" id="filter-prov" />
            </div>
        </div>

        <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    </fieldset>
</div>