﻿@{
    ViewBag.Title = "Index";
}
<script>
    $(function () {
        $("#filter-confirm").click(function () {
            $("#grid-manager-order").bootgrid("destroy");
            grid("#grid-manager-order", $("#filter-constr").val(), $("#filter-order-number").val(), $("#filter-prov").val());

        });

        var index = 0;

        grid("#grid-manager-order");


        function grid(grids, filtroConstrc, filtroOrderNumber, filtroProvider) {
            var grid = $("#grid-manager-order").bootgrid({
                ajax: true,
                post: function () {
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                templates: {
                    header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\"><div class=\"row\"><div class=\"col-sm-12 actionBar\"><p class=\"{{css.actions}}\"></p></div></div></div>"
                },
                requestHandler: function (request) {
                    request.nameConstruction = filtroConstrc || "";
                    request.numberOrder = filtroOrderNumber || "";
                    request.nameProvider = filtroProvider || "";

                    return request;
                },
                formatters: {
                    "commands": function (column, row) {
                        editar = "<button type=\"button\" title=\"Analisar\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-ok\"></span></button>";
                       
                        return editar;
                    },
                    "Verified": function (column, row) {
                        if ((row.Verified) == "1")
                            return "<span tittle='No Prazo' style='color:green;'><span class=\"glyphicon glyphicon-thumbs-up\"></span></span>";
                        if ((row.Verified) == "0")
                            return "<span tittle='Vencido' style='color:red;'><span class=\"glyphicon glyphicon-thumbs-down\"></span></span>";
                        return "Nao Analisado";
                    },

                }

            }).on("loaded.rs.jquery.bootgrid", function () {
                var url = "../" + $("#Controller").val();
                grid.find(".command-edit").on("click", function (e) {
                    location.href = url + "/Verify/" + $(this).data("row-id");
                }).end().find(".command-detalhe").unbind().on("click", function (e) {
                    location.href = url + "/Details/" + $(this).data("row-id");
                });
            });
        }
    })
</script>
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ordens de Compra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")

    <div class="table-responsive">
        <table id="grid-manager-order" class="table table-condensed table-hover table-striped" data-url="@Url.Action("ListOrder", "ManageOrder")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-formatter="Verified" data-order="asc" data-column-id="Verified">Conforme?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="EstimationDate">Data Estimada Entrega</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Approval">Aprovado?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberService">Número Ordem Compra</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra de Entrega</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="CreationDate">Data de criação</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValue">Valor Total</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Discount">Desconto</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValueSale">Valor Final</th>
                    <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
    @Html.Hidden("Controller", "ManageOrder")
    <fieldset>
        <legend>Filtros</legend>
        <div class="row">
            <div class="form-group">
                <label for="Name">Obra</label>
                <input type="text" id="filter-constr" />

                <label for="Name">Número da Ordem</label>
                <input type="text" id="filter-order-number" />

            </div>

            <div class="form-group">
                <label for="Name">Fornecedor</label>
                <input type="text" id="filter-prov" />
            </div>
        </div>

        <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    </fieldset>

</div>
