﻿@model RochaGerenciamento.Domain.Entities.Order
<script>
    $(function () {
        var messageSucess = "";
        var messageError = "";
        var concat = "";
        messageSucess = "A ordem de compra #" + $("#NumberOrder").val() + " foi recebida e esta conforme o esperado!";
        messageError = "A ordem de compra numero #" + $("#NumberOrder").val() + "  nao esta conforme o esperado! Favor analisa-la no sistema";

        changeText();

        function changeText() {
            concat = "";
            $(".product_name").each(function (element) {
                concat = concat + " #BREAKLINE " + $(this).text() + " Qtde Requisitada: " + $(this).next().children().val() + " Qtde Recebida: " + ($(this).next().next().children().val() == "" ? "0" : $(this).next().next().children().val()) + "#BREAKLINE";
            });
            $("#Message").val(messageError + concat);
        };
        
        $("#Message").val(messageError + concat);
        if ($(".selectpicker").val() == "1") {
            hideFields();
        }
        $(".selectpicker").on("change", function () {
            $('table').show();
            $("#Message").val(messageError + concat);
            if ($(this).val() == "1") {
                hideFields();
            }
        });

        $(".change_text").blur(function(){
            changeText();

        })

        function hideFields() {
        
            $("#Message").val(messageError + concat);
            $('table').hide();
            $('.order_products').val("");
            $(".order_products").attr("required", false);
        }

        
    });
</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ListVerifyOrder", "ManageOrder")">Ordens de Compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Formulario de Recebimento de Produtos</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm("Verify", "ManageOrder",
                           FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulario de Recebimento de Produtos</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.NumberOrder)
            @Html.HiddenFor(model => model.Invoice)
            @Html.HiddenFor(model => model.CodeConstructionDestination)
            @Html.HiddenFor(model => model.CodeBill)
            @Html.HiddenFor(model => model.TotalValue)
            @Html.HiddenFor(model => model.Discount)
            @Html.HiddenFor(model => model.TotalValueSale)
            @Html.HiddenFor(model => model.EstimationDate)
            @Html.HiddenFor(model => model.Approval)

            <div class="form-group">
                <label for="Name">Entrega estava Conforme?</label>
                @Html.DropDownList("VerifiedResult", null, null, new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group data_chegada">
                <label for="Name">Data de Chegada</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.ArrivedDate, new { required = "required", @class = "order_products form-control", placeholder = "Insira uma data de início" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

            </div>

            <div class="form-group">
                <label for="Messagem">Mensagem</label>
                <textarea class="form-control" readonly name="message" id="Message"></textarea>
            </div>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade Esperada</th>
                        <th scope="col">Quantidade Recebida</th>
                    </tr>
                </thead>
                <tbody>
                    
                @{
                    int counter = 0;
                    foreach (var item in Model.OrderProducts)
                    {
                    <tr>
                
                        <input type="hidden" class="OrderProducts_CodeProduct" name="OrderProducts[@counter].CodeProduct" value="@item.CodeProduct">
                        <input type="hidden" class="OrderProducts_ValueUnit" name="OrderProducts[@counter].ValueUnit" value="@item.ValueUnit">
                        <input  type="hidden" class="OrderProducts_Code" name="OrderProducts[@counter].Code" value="@item.Code">
                        <input  type="hidden" class="OrderProducts_CodeOrder" name="OrderProducts[@counter].CodeOrder" value="@item.CodeOrder">

                        <input type="hidden" class="OrderProducts_CodeCreationUser" name="OrderProducts[@counter].CodeCreationUser" value="@item.CodeCreationUser">
                        <input  type="hidden" class="OrderProducts_CreationDate" name="OrderProducts[@counter].CreationDate" value="@item.CreationDate">
                        <input  type="hidden" class="OrderProducts_IdcActive" name="OrderProducts[@counter].IdcActive" value="@item.IdcActive">
                        <input type="hidden" class="OrderProducts_IdcActive" name="OrderProducts[@counter].DecimalPoint" value="@item.DecimalPoint">

                        <th class="col-md-8 product_name">@item.Product.Name</th>
                        <td class="col-md-2"><input type="text" readonly class="form-control OrderProducts_Amount" name="OrderProducts[@counter].Amount" value="@item.Amount"></td>
                        <td class="col-md-2"><input class="order_products change_text OrderProducts_AmountVerified amount_decimal_point2 form-control" type="text" name="OrderProducts[@counter].AmountVerified" value="@item.AmountVerified" required></td>
                        
                    </tr>
                        counter = counter + 1;
                    }
                }
                    
                </tbody>
            </table>
      
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </fieldset>
    }

</div>