﻿@model RochaGerenciamento.Domain.Entities.TaskService
@{
    ViewBag.Title = "Close";
}



<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageTaskService")">Ordem de Servico</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fechar Tarefa</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.CodeCreationUser)
        @Html.HiddenFor(model => model.IdcActive)
        @Html.HiddenFor(model => model.CodeTask)
        @Html.HiddenFor(model => model.CodeTaskSituation, new {@Value ="2" })
        @Html.HiddenFor(model => model.CodeConstruction)
        @Html.HiddenFor(model => model.CodeBuildingArea)
        @Html.HiddenFor(model => model.DateTimeStart)
        @Html.HiddenFor(model => model.CodeUnit)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.Solution)
        @Html.HiddenFor(model => model.CurrentSituation)

        <fieldset>
            <legend>Fechar Tarefa</legend>
            <div class="form-group">
                <label for="Name">Funcionario Que Fechou Tarefa</label>
                @Html.DropDownList("CodeEmployeeFinisher", null, "Selecione", new { @class = "selectpicker",  required = true })
            </div>


            <div class="form-group">
                <label for="Name">Data Conclusao</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.DateTimeFinish, new { @class = "form-control", placeholder = "Insira uma data de fechamento", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Iniciar</button>
            </div>
        </fieldset>
    }

</div>
