﻿@model RochaGerenciamento.Domain.Entities.TaskService
@{
    ViewBag.Title = "Confirm";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageTaskService")">Ordem de Servico</a></li>
            <li class="breadcrumb-item active" aria-current="page">Conformidade Ordem de Servico</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.CodeCreationUser)
        @Html.HiddenFor(model => model.IdcActive)
        @Html.HiddenFor(model => model.CodeTask)
        @Html.HiddenFor(model => model.CodeTaskSituation, new { @Value = "4" })
        @Html.HiddenFor(model => model.CodeConstruction)
        @Html.HiddenFor(model => model.CodeBuildingArea)
        @Html.HiddenFor(model => model.DateTimeStart)
        @Html.HiddenFor(model => model.DateTimeFinish)
        @Html.HiddenFor(model => model.CodeEmployeeFinisher)
        @Html.HiddenFor(model => model.CurrentSituation)
        @Html.HiddenFor(model => model.Solution)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.CodeUnit)

        <fieldset>
            <legend>Conformidade Ordem de Servico</legend>
            @if (Model.CodeTaskSituation == (int)RochaGerenciamento.Domain.Enums.FlagTaskSituation.NotConfirmed)
            {
            <div class="form-group">
                <label for="Name">Data de Conformidade</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.DateFinishAccording, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="Name">Funcinario que Verificou</label>
                @Html.HiddenFor(model => model.CodeEmployeeChecker)
                @Html.TextBoxFor(model => model.EmployeeChecker.Name, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
                
            </div>
            @Html.HiddenFor(model => model.FlagAccording, new { @Value = "1" })
            }
            @if (Model.CodeTaskSituation != (int)RochaGerenciamento.Domain.Enums.FlagTaskSituation.NotConfirmed)
            {
            <div class="form-group">
                <label for="Name">Funcinario que Verificou</label>
                @Html.DropDownList("CodeEmployeeChecker", null, "Selecione", new { @class = "selectpicker", required = true, disabled = true })
            </div>
            }
            <div class="form-group">
                <label for="Name">Tarefa</label>
                @Html.TextBoxFor(model => model.Task.Name, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Obra</label>
                @Html.TextBoxFor(model => model.Construction.Name, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Area</label>
                @Html.TextBoxFor(model => model.BuildingArea.Name, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Data Inicial</label>
                @Html.TextBoxFor(model => model.DateTimeStart, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Data Fechamento</label>
                @Html.TextBoxFor(model => model.DateTimeFinish, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
            </div>

            <div class="form-group">
                <label for="Name">Funcionario que Fechou</label>
                @Html.TextBoxFor(model => model.EmployeeFinisher.Name, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
            </div>
            <fieldset>
                <legend>Funcionarios que executaram</legend>
                @foreach (var entity in Model.TaskServiceEmployees)
                {

                    @Html.TextBoxFor(model => entity.Employee.Name, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true, disabled = "disabled" })
                }
            </fieldset>
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </fieldset>
    }