﻿@model RochaGerenciamento.Domain.Entities.TaskService

@{
    ViewBag.Title = "Details";
}


<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageTaskService")">Ordem de Servico</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhes Ordem de Servico</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <fieldset>
        <legend>Detalhes</legend>
        <div class="form-group">
            <label for="Name">Situacao</label>
            @Html.TextBoxFor(model => model.TaskSituation.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Tarefa</label>
            @Html.TextBoxFor(model => model.Task.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Obra</label>
            @Html.TextBoxFor(model => model.Construction.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Area</label>
            @Html.TextBoxFor(model => model.BuildingArea.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Unidade</label>
            @Html.TextBoxFor(model => model.Unit.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Data Inicial</label>
            @Html.TextBoxFor(model => model.DateTimeStart, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Data Fechamento</label>
            @Html.TextBoxFor(model => model.DateTimeFinish, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Funcionario que Fechou</label>
            @Html.TextBoxFor(model => model.EmployeeFinisher.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Funcionario que Conferiu</label>
            @Html.TextBoxFor(model => model.EmployeeChecker.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Data da Re-Verificacao</label>
            @Html.TextBoxFor(model => model.DateFinishAccording, new { @class = "form-control",  required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Ocorrência</label>
            @Html.TextBoxFor(model => model.CurrentSituation, new { @class = "form-control", required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Disposição </label>
            @Html.TextBoxFor(model => model.Solution, new { @class = "form-control", required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Descricao</label>
            <textarea class="form-control"  name="Description" id="Description" disabled="disabled">@Model.Description</textarea>
        </div>
        <fieldset>
            <legend>Funcionarios que executaram</legend>
            @foreach (var entity in Model.TaskServiceEmployees)
            {

                @Html.TextBoxFor(model => entity.Employee.Name, new { @class = "form-control",  required = true, disabled = "disabled" })
            }
        </fieldset>
    </fieldset>

</div>