﻿@model RochaGerenciamento.Domain.Entities.TaskService

@{
    ViewBag.Title = "Edit";
}


<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageTaskService")">Ordem de Servico</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Ordem de Servico</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Ordem de Servico</legend>
            <input type="hidden" value="1" name="CodeTaskSituation" />
            <div class="form-group">
                <label for="Name">Tarefa</label>
                @Html.DropDownList("CodeTask", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group">
                <label for="Name">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Area</label>
                @Html.DropDownList("CodeBuildingArea", null, "Selecione", new { @class = "selectpicker" })
            </div>

            <div class="form-group">
                <label for="Name">Unidade</label>
                @Html.DropDownList("CodeUnit", null, "Selecione", new { @class = "selectpicker" })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>