﻿@model RochaGerenciamento.Domain.Entities.TaskService
@{
    ViewBag.Title = "Start";
}
<script>

    $(document).ready(function () {

        $("#add-values").html("");
        var i = 0;
        $("#DateTimeStart").blur(function () {
            $("#add-values").html("");
            i = 0;
            $("select option:selected").each(function () {
                var $this = $(this);
                $("#add-values").append("<input type='hidden' name='TaskServiceEmployees[" + i + "].CodeEmployee' value='" + $this.val() + "' />");
                $("#add-values").append("<input type='hidden' name='TaskServiceEmployees[" + i + "].CodeTaskService' value='" + @Model.Code + "' />");
                i++;
            });

        })
    })
</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageTaskService")">Ordem de Servico</a></li>
            <li class="breadcrumb-item active" aria-current="page">Iniciar Tarefa</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.CodeCreationUser)
        @Html.HiddenFor(model => model.IdcActive)
        @Html.HiddenFor(model => model.CodeTask)
        @Html.HiddenFor(model => model.CodeUnit)
        @Html.HiddenFor(model => model.CodeTaskSituation)
        @Html.HiddenFor(model => model.CodeConstruction)
        @Html.HiddenFor(model => model.CodeBuildingArea)
        @Html.HiddenFor(model => model.Description)
        <fieldset>
            <legend>Iniciar Tarefa</legend>
            <div class="form-group">
                <label for="Name">Funcionarios</label>
                @Html.DropDownList("CodeEmployee", null, null, new { @class = "selectpicker", multiple = "multiple", required = true })
            </div>
            

            <div class="form-group">
                <label for="Name">Data Inicial</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.DateTimeStart, new { @class = "form-control", placeholder = "Insira uma data de inicio", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div id="add-values">

            </div>
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Iniciar</button>
            </div>
        </fieldset>
    }

</div>