﻿@model RochaGerenciamento.Domain.Entities.SubService

@{
    ViewBag.Title = "Edit";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Construction")">Obras</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Plan")">Planejamentos</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SubService")">Sub-Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Sub-Serviço</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.CodeCreationUser)
        @Html.HiddenFor(model => model.IdcActive)
        <fieldset>
            <legend>Editar Sub-Serviço</legend>

            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Service">Tipo de Serviço</label>
                @Html.DropDownList("CodeService", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>


            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>