﻿
.table
{
    margin: 0 0 0 0;
    padding: 0;
    width: 99%;
    font-family: Verdana;
    
}

.not-clickable-anchor{
    pointer-events: none; 
    cursor: default;
}

fieldset
{
    padding-left:200px;
    padding-right:200px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}​

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

table thead tr th {
    font-family: Verdana;
    border: none;
    font-size: 0.7em;
}

table tbody tr td {
    font-family: Verdana;
    border: none;
    font-size: 0.7em;
}

tr a:hover
{
    background-color:  #eee;
}


td a img 
{
    padding: 0 5px 0 5px;
}

.innerpage {
    padding-top: 50px;
    padding-bottom: 100px;
    /*height: 600px;*/
}

.navbar {
    background-color:#e8e5e5;
    border-bottom: 10px solid #000000;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input.edit-btn-large {
   padding: 11px 19px;
   font-size: 17.5px;
}

p {
    width: 100%; 
    text-align: center;
}


.field-validation-error {
    color: red;
}

header, footer, hgroup,
nav, section {
    display: block;
    
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    
}

/*
footer {
  position: absolute;
  top: 600px;
  left: 500px;
    right: 500px;
}
*/

.sub-header {
    color: #003466;
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
}

form {
    padding-top: 20px;
}

.container theme-showcase {
    padding-top: 20px;
}
.container {
    padding-left: 0px;
    padding-top: 0px;
}

.footer {
  position: absolute;
  /*bottom: 0; Emilia*/ 
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f9f9f9;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: whitesmoke;
}

.navbar-brand, .navbar-nav>li>a {
    color: #8C3031;
    font-size:11pt;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover 
{
    background-color: whitesmoke;
    border-color: #337ab7;
}



.textos
{
    font-size:22pt;
    text-align: justify;
}
        
.arealogin
{
    padding-top:150px;
    margin:0 auto;
    max-width:500px;

}
    
#tabs-1 , #tabs-2 {
    padding: 0;
}

#tableTab {
    width:99.4%
}

.ui-tabs-nav  {
    border: 0px;
    background: white;
}

.pager .next>a 
{
    background-color: #419641;
    color: White;
    border: none;
    font-weight: 600;
    font-size:45pt !important;
    
}

.pager .previous>a 
{
    background-color: #337ab7;
    color: White;
    border: none;
    font-weight: 600;
    font-size:45pt !important;
}


@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu 
    {
        background-color: #337ab7 !important;
    }
}

@media screen and (max-width: 480px) {
    .nav {
        padding-left:2px;
        padding-right:2px;
    }
    .nav li {
        display:block !important;
        width:100%;
        margin:0px;
    }
    .nav li.active {
        border-bottom:1px solid #ddd!important;
        margin: 0px;
    }
}

.ui-widget
{
    font-size:12pt !important;
}

td > .btn 
{
    margin-right: 5px;
}

.aumenta-botao-mais
{
    font-size:20px;
}

/* tamanho coluna das tabelas */

.tamanho-coluna-0
{
    width:0%;
}

.tamanho-coluna-5
{
    width:0%;
}


.tamanho-coluna-10
{
    width:10%;
}

.tamanho-coluna-12
{
    width:12%;
}


.tamanho-coluna-15
{
    width:15%;
}
.tamanho-coluna-20
{
    width:20%;
}

.tamanho-coluna-30
{
    width:30%;
}

.tamanho-coluna-40
{
    width:40%;
}

.tamanho-coluna-45
{
    width:45%;
}

.tamanho-coluna-50
{
    width:50%;
}

/*especifidades rocha*/

.dropdown-menu>li>a:hover{
	background-color:rgba(216,216,216,1);
	background-image:none;
	color:#000;
}
.divider{
	background-color:#fff;
}
.dropdown-submenu{
	position:relative;
}
.dropdown-submenu>.dropdown-menu{
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
	display:block;
	content: " ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style: solid;
	border-width:5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top:5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after{
	border-left-color: #555;
}
.dropdown-submenu.pull-left{
	float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
	left:100%;
	margin-left:1-0px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}
.rev{
	left:auto !important;
	right:100% !important;
	top:8px !important;
	margin-right:-12px !important;
}    

.dropdown-submenu:hover>.dropdown-menu{display:block;}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

@media print {
    th{
        font-size: 6pt;
        font-weight: 100;
    }
    span{
        font-size:15pt;
        font-weight:600;
        float:right;
        margin-top:12px;
    }
    .chart-canvas {
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto!important;
        width: auto!important;
    }
}