﻿@model RochaGerenciamento.Domain.Entities.Bill

@{
    ViewBag.Title = "Create";
}

<script>
    $(document).ready(function () {
        var totalValue = 0;
        var listAllValuesUnit = [];
        $(".btn-2").click(function () {
            var values = $('#CodeOrder').val();
            var selText = "";
            $("#CodeOrder option:selected").each(function () {
                var $this = $(this);
                if ($this.length) {
                    selText = selText + ";" + $this.text();
                }
            });
            totalValue = 0.0;
            var listSelText = selText.split(";");
            for (i = 1 ; i < listSelText.length  ; i++) {
                getValue = listSelText[i].split("| R$:");
                totalValue = parseFloat(getValue[1].replace(",", ".")) + parseFloat(totalValue);
                $("#add-orders").append("<input type='hidden' id='Orders_CodeOrder' name='Orders[" + (i - 1) + "].Code' value='" + values[i - 1] + "' />");

            }
            $("#TotalValue").val(totalValue.toFixed(2).replace(".", ","));
            //$("#TotalValue").val(totalValue.toFixed(2));

        })

    });

</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageBill")">Gastos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Registro Financeiro</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <div class="container">

        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="not-clickable-anchor btn btn-primary btn-circle">1</a>
                    <p>Passo 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="not-clickable-anchor  btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Passo 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" type="button" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Passo 3</p>
                </div>

            </div>
        </div>
        @using (Html.BeginForm("CreateAux", "ManageBill",
                           FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Criar Registro Financeiro</legend>

                <div class="row setup-content" id="step-1">

                    <div class="form-group">
                        <label for="Obra">Ordens de Compra Envolvidas</label>
                        @Html.DropDownList("CodeOrder", null, null, new { @class = "selectpicker", multiple = "multiple", required = true })
                    </div>

                    <button class="btn-2 btn btn-primary nextBtn btn-lg pull-right" id="first-step-next" type="button">Próximo</button>

                </div>
                <div class="row setup-content" id="step-2">
                    <span id="add-orders">

                    </span>

                    <div class="form-group">
                        <label for="Name">Valor Total</label>
                        @Html.TextBoxFor(model => model.TotalValue, new {@readonly = "readonly",  @class = "form-control", placeholder = "Insira um Banco", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Pago?</label>
                        @Html.DropDownList("Checked", null, null, new { @class = "selectpicker", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Name">Código de Barras</label>
                        @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control", placeholder = "Insira um Código de Barras", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Name">Banco</label>
                        @Html.TextBoxFor(model => model.Bank, new { @class = "form-control", placeholder = "Insira um Banco", required = true })
                    </div>

                    <div class="form-group">
                        <label for="StartDate">Data Emissão</label>
                        <div class='input-group date' id='datetimepicker2'>
                            @Html.TextBoxFor(model => model.EmissionDate, new { @class = "form-control", placeholder = "Insira uma data de emissão", required = true })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button id="second-step-next" class="btn btn-primary nextBtn btn-lg pull-right" type="button">Próximo</button>
                </div>
                <div class="row setup-content" id="step-3">
                    <div class="form-group">
                        <label for="Name">Qtde de Parcelas:</label>
                        <input type="number" min="1" id="AmountInstallments" name="AmountInstallments" class="form-control" placeholder="Insira a quantidade de parcelas" required />
                    </div>
                    
                    <div class="form-group">
                        <label for="Name">Vencimento Primeira Parcela:</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type="text" id="DueDate" name="DueDate" class="form-control" placeholder="Insira o dia de vencimento" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Cadastrar</button>
                </div>
            </fieldset>
        }

    </div>
</div>