﻿@model RochaGerenciamento.Domain.Entities.Bill
@using RochaGerenciamento.Domain.Enums

@{
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("pt-BR");
    ViewBag.Title = "Details";

    double total = 0;
    foreach (var inst in Model.Installments)
    {
        total = inst.Value + total;
    }
    
    double discr = Model.TotalValue - total;
    RochaGerenciamento.Domain.ValueObject.Session.UrlBill = RochaGerenciamento.Domain.Enums.ReturnBillType.Order;
}
<script>
    $(function () {
        
        function funcaoPromptBaixa(url, table) {

            $.ajax({
                url: url,
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    $(".loader").hide();
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "") {
                        $(table).bootgrid('reload');
                        alert(result.Success);
                    }
                }
            });
        }

        var grid = $("#grid-data-order,#grid-data-installment").bootgrid({
            ajax: true,
            post: function () {
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            requestHandler: function (request) {
                request.code= @(Model.Code);
                return request;
            },
            formatters: {
                "commands": function (column, row) {
                    edicao = "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-edit\"></span></button> ";
                    deletar = "<button  type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";
                    finish = "<button  type=\"button\" title=\"Finalizar\" class=\"btn btn-xs btn-default command-finish\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-ok\"></span></button>";
                        
                    if (row.Checked=="Sim")
                        return "";
                    return  finish + edicao ;
                },
                "Situation": function (column, row) {
                    if ( row.Situation == "Green")
                        return "<span tittle='No Prazo' style='color:" + row.Situation + ";'><span class=\"glyphicon glyphicon-thumbs-up\"></span></span>";
                    if ( row.Situation == "Orange")
                        return "<span tittle='Vencendo' style='color:" + row.Situation + ";'><span class=\"glyphicon glyphicon-exclamation-sign\"></span></span>";
                    return "<span tittle='Vencido' style='color:" + row.Situation + ";'><span class=\"glyphicon glyphicon-thumbs-down\"></span></span>";
                },
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            var url = "../../Installment";
            grid.find(".command-edit").on("click", function (e) {
                location.href = url + "/Edit/" + $(this).data("row-id");
            }).end().find(".command-finish").unbind().on("click", function (e) {
                if (confirm('Deseja dar baixa nesta parcela?'))
                    funcaoPromptBaixa( "../../ManageBill/Confirm/" + $(this).data("row-id"), "#grid-data-installment");
                
            });
        });
    })
</script>



<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageBill")">Gastos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhe Registro Financeiro</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    <fieldset>
        <legend>Detalhes</legend>

        @if (discr != 0)
        { 
        <div class="alert alert-info">
            <strong>ATENÇÃO! EXISTE uma discrepância em Parcelas no valor de R$:</strong> @discr

        </div>
        }
        
        <div class="form-group">
            <label for="Obra">Pago</label>
            <input type="text" value="@( Model.Checked.Equals(RegisterSituation.Active) ? RegisterSituation.Yes : RegisterSituation.No) " class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="Name">Valor Total</label>
            @Html.TextBoxFor(model => model.TotalValue, new { @class = "form-control", placeholder = "Insira um Nome", required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Código de Barras</label>
            @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control", placeholder = "Insira um Nome", required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Banco</label>
            @Html.TextBoxFor(model => model.Bank, new { @class = "form-control", placeholder = "Insira um Nome", required = true, disabled = "disabled" })
        </div>
        <div class="form-group">
            <label for="Name">Data de Emissão</label>
            @Html.TextBoxFor(model => model.EmissionDate, new { @class = "form-control", placeholder = "Insira um Nome", required = true, disabled = "disabled" })
        </div>

        

    </fieldset>
    <h3>Ordens Relacionadas</h3>
    <div class="table-responsive">
        <table id="grid-data-order" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ManageOrder")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="EstimationDate">Data Estimada Entrega</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Approval">Aprovado?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Name">Nome</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberService">Número Ordem Compra</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="CreationDate">Data de criação</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="TotalValue">Valor Total</th>
                </tr>
            </thead>
        </table>
    </div>
    <h3>Parcelas</h3>
    <div class="table-responsive">
        <table id="grid-data-installment" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "Installment")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-formatter="Situation"  data-column-id="Situation">Situação</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Sequence">Sequencia</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="DueDate">Data de Vencimento</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Checked">Pago?</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="PaymentDate">Data do Pgmento</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Value">Valor</th>
                    <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>