﻿@model RochaGerenciamento.Domain.Entities.Bill

@{
    ViewBag.Title = "Edir";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ManageBill")">Gastos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Registro Financeiro</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Registro Financeiro</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            @Html.HiddenFor(model => model.Checked)
            @Html.HiddenFor(model => model.TotalValue)
            
            @*<div class="form-group">
                <label for="Obra">Pago?</label>
                @Html.DropDownList("Checked", null, null, new { @class = "selectpicker", required = true })
            </div>*@

            <div class="form-group">
                <label for="StartDate">Data de Emissão</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.EmissionDate, new { @class = "form-control", placeholder = "Insira uma data de emissão", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Obra">Código de Barras</label>
                @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control", placeholder = "Insira um código de barras", required = true })
            </div>


            <div class="form-group">
                <label for="Obra">Banco</label>
                @Html.TextBoxFor(model => model.Bank, new { @class = "form-control", placeholder = "Insira um Banco", required = true })

            </div>
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }
</div>