﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.Bill>

@{
    ViewBag.Title = "Bills";
}

@if (RochaGerenciamento.Domain.ValueObject.Session.AmountInstallmentsToExpire != 0)
{
    <div id="nameConstructionSesssion" class="alert alert-info">Existe(m) <b>@RochaGerenciamento.Domain.ValueObject.Session.AmountInstallmentsToExpire</b> prestação(ões) à vencer ou vencida</div>
}

<script>

    function funcaoPromptBaixa(url, table) {

        $.ajax({
            url: url,
            type: 'Post',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            traditional: true,
            beforeSend: function (xhr) {
                $(".loader").show();
            },
            success: function (result) {
                $(".loader").hide();
                if (result.Error != "")
                    alert(result.Error);
                if (result.Success != "") {
                    location.reload();
                    alert(result.Success);
                }
            }
        });
    }

    $(function () {
        var index = 0;
        grid("#grid-data1");
        flag1 = true;
        flag2 = true;
        $('.tab-acao').click(function () {
            index = $("#tabs").tabs('option', 'active');
            //$("#filter-confirm").trigger("click");

            if (index === 0) {
                $('#grid-data1').bootgrid('reload');

            } else if (index === 1) {

                if (flag1)
                    grid("#grid-data2");
                else
                    $('#grid-data2').bootgrid('reload');

                flag1 = false;
            } 

        });

        function grid(grids) {

            var grid = $(grids).bootgrid({
                ajax: true,
                post: function () {
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                requestHandler: function (request) {

                    request.code = index ;
                    return request;
                },
                formatters: {
                    "commands": function (column, row) {
                        detalhe = "<button  type=\"button\" title=\"Detalhes\" class=\"btn btn-xs btn-default command-detalhe\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-th-list\"></span></button>";
                        edicao = "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-edit\"></span></button> ";
                        deletar = "<button  type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";
                        finish = "<button  type=\"button\" title=\"Finalizar\" class=\"btn btn-xs btn-default command-finish\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-ok\"></span></button>";

                        if (row.Checked == "Não")
                            return finish + detalhe + deletar + edicao;
                        return detalhe;
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function () {
                var url = $("#Controller").val();
                grid.find(".command-edit").on("click", function (e) {
                    location.href = url + "/Edit/" + $(this).data("row-id");
                }).end().find(".command-delete").on("click", function (e) {
                    if (confirm('Deseja excluir este registro?'))
                        location.href = url + "/Delete/" + $(this).data("row-id");
                }).end().find(".command-detalhe").unbind().on("click", function (e) {
                    location.href = url + "/Details/" + $(this).data("row-id");
                }).end().find(".command-finish").unbind().on("click", function (e) {
                    if (confirm('Deseja dar baixa em todo o boleto e suas parcelas?'))
                        funcaoPromptBaixa(url + "/ConfirmPaymentAll/" + $(this).data("row-id"), "#grid-data");
                });
            });
        }
    });
</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gastos</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <button type="button" class="btn btn-default"><a href="@Url.Action("Create", "ManageBill")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    <div id="tabs" class="nav nav-tabs" role="tablist">
        <ul>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-1">Não Pagos</a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-2">Pagos</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabs-1">
                <div class="table-responsive">
                    <table id="grid-data1" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ManageBill")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>

                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-column-id="TotalValue">Valor Total</th>
                                <th data-width="10" data-sortable="false" data-column-id="Barcode">Código de Barras</th>
                                <th data-width="10" data-sortable="false" data-column-id="EmissionDate">Data de Emissão</th>
                                <th data-width="10" data-sortable="false" data-column-id="Checked">Pago?</th>
                                <th data-width="10" data-sortable="false" data-column-id="AmountInstallments">Qtde Parcelas</th>
                                <th data-width="10" data-sortable="false" data-column-id="AmountInstallmentsPaid">Qtde Parcelas Pagas</th>
                                <th data-width="10" data-sortable="false" data-column-id="NextInstallment">Próx Parcela Ñ Paga Vence</th>
                                <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-2">
                <div class="table-responsive">
                    <table id="grid-data2" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ManageBill")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>

                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-column-id="TotalValue">Valor Total</th>
                                <th data-width="10" data-sortable="false" data-column-id="Barcode">Código de Barras</th>
                                <th data-width="10" data-sortable="false" data-column-id="EmissionDate">Data de Emissão</th>
                                <th data-width="10" data-sortable="false" data-column-id="Checked">Pago?</th>
                                <th data-width="10" data-sortable="false" data-column-id="AmountInstallments">Qtde Parcelas</th>
                                <th data-width="10" data-sortable="false" data-column-id="AmountInstallmentsPaid">Qtde Parcelas Pagas</th>
                                <th data-width="10" data-sortable="false" data-column-id="NextInstallment">Próx Parcela Ñ Paga Vence</th>
                                <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("Controller", "ManageBill")

</div>