﻿@{
    ViewBag.Title = "Sistema de Gestão - Rocha Empreendimentos";
}
<script>
    $(function () {

        $("#manual").click(function () {
            window.open("Reports/manual.pdf", "_blank");

        });

        $("#confirm-session-constr").click(function () {
            var codeCostruction = $("#CodeConstruction").val();
            if ($("#CodeConstruction").val() == "") {
                
                codeCostruction = 0;
            }
            $.ajax({
                url: 'Principal/SetSessionConstruction/?codeConstruction=' + codeCostruction + '&nameConstruction=' + $('#CodeConstruction').find(":selected").text(),
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "") {
                        alert(result.Success);
                        location.reload();
                    }
                       
                    $(".loader").hide();
                }
            });
        });
    });
</script>
<div class="innerpage">
    <h1>@ViewBag.Title</h1>
</div>

<div class="form-group col-lg-4">
    <label for="Obra">Escolha uma obra:</label>
    @Html.DropDownList("CodeConstruction", null, "TODAS", new { @class = "selectpicker" })
    <br />
    <button type="button" class="btn btn-default" id="confirm-session-constr">Confirmar</button>
    <br />
    <br />Manual: <button id="manual" class="glyphicon glyphicon-list-alt"></button>
</div>




