﻿@model RochaGerenciamento.Domain.Entities.Client

@{
    ViewBag.Title = "Details";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Client")">Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhes Cliente</li>
        </ol>
    </nav>
    <fieldset>
        <legend>Detalhes</legend>

        <div class="form-group">
            <label for="Name">Nome</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control",  disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Procurando Por</label>
            @Html.TextBoxFor(model => model.LookingFor, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Telefone</label>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">CPF</label>
            @Html.TextBoxFor(model => model.CPF, new { @class = "form-control",  disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">RG</label>
            @Html.TextBoxFor(model => model.RG, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Endereço</label>
            @Html.TextBoxFor(model => model.Address.Name, new { @class = "form-control",  disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Cidade</label>
            @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Estado</label>
            @Html.TextBoxFor(model => model.Address.State, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Email</label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control email", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Observação</label>
            @Html.TextBoxFor(model => model.Observation, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Renda</label>
            @Html.TextBoxFor(model => model.Income, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Name">Profissão</label>
            @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control", placeholder = "Insira uma Profissão" })
        </div>

        <div class="form-group">
            <label for="Birthdate">Nascimento</label>
            @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control",  disabled = true })
            
        </div>

        <div class="form-group">
            <label for="Birthdate">Data de atendimentos</label>
            @Html.TextBoxFor(model => model.AttendanceDate, new { @class = "form-control", disabled = true })
        </div>


        <div class="form-group">
            <label for="Service">Estado Civil</label>
            @Html.TextBoxFor(model => model.CivilStatus.Name, new { @class = "form-control", disabled = true })
        </div>

        <div class="form-group">
            <label for="Service">Origem do Contato</label>
            @Html.TextBoxFor(model => model.ContactOrigin.Name, new { @class = "form-control", disabled = true })
        </div>
    </fieldset>
</div>