﻿@model RochaGerenciamento.Domain.Entities.Client

@{
    ViewBag.Title = "Edit";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Client")">Cliente</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Cliente</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Procurando Por</label>
                @Html.TextBoxFor(model => model.LookingFor, new { @class = "form-control", placeholder = "Insira um Produto" })
            </div>

            <div class="form-group">
                <label for="Name">Telefone</label>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Insira um telefone" })
            </div>

            <div class="form-group">
                <label for="Name">CPF</label>
                @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", placeholder = "Insira um CPF" })
            </div>

            <div class="form-group">
                <label for="Name">RG</label>
                @Html.TextBoxFor(model => model.RG, new { @class = "form-control", placeholder = "Insira um RG" })
            </div>

            

            <div class="form-group">
                <label for="Name">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control email", placeholder = "Insira um Email" })
            </div>

            <div class="form-group">
                <label for="Name">Observação</label>
                @Html.TextBoxFor(model => model.Observation, new { @class = "form-control", placeholder = "Insira uma Observação" })
            </div>

            <div class="form-group">
                <label for="Name">Renda</label>
                @Html.TextBoxFor(model => model.Income, new { @class = "form-control", placeholder = "Insira uma Renda" })
            </div>

            <div class="form-group">
                <label for="Name">Profissão</label>
                @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control", placeholder = "Insira uma Profissão" })
            </div>

            <div class="form-group">
                <label for="Birthdate">Nascimento</label>
                <div class='input-group date' id='only-date'>
                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", placeholder = "Insira uma data de nascimento" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Birthdate">Data Primeiro Atendimento</label>
                <div class='input-group date' id='only-date'>
                    @Html.TextBoxFor(model => model.AttendanceDate, new { @class = "form-control", placeholder = "Insira uma data de atendimento" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Service">Estado Civil</label>
                @Html.DropDownList("CodeCivilStatus", null, "Selecione", new { @class = "selectpicker" })
            </div>

            <div class="form-group">
                <label for="Service">Origem do Contato</label>
                @Html.DropDownList("CodeContactOrigin", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

          
            <div class="form-group">
                <label for="MaterialType">Rua</label>
                @Html.TextBoxFor(model => model.Address.Name, new { @class = "form-control ", placeholder = "Insira uma Rua" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Cidade</label>
                @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control ", placeholder = "Insira uma Cidade" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Bairro</label>
                @Html.TextBoxFor(model => model.Address.Borough, new { @class = "form-control ", placeholder = "Insira um bairro" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Numero</label>
                @Html.TextBoxFor(model => model.Address.Number, new { @class = "form-control ", placeholder = "Insira um numero" })
            </div>

            <div class="form-group">
                <label for="MaterialType">Estado</label>
                @Html.TextBoxFor(model => model.Address.State, new { @class = "form-control ", placeholder = "Insira um estado" })
            </div>
            
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>