﻿@model RochaGerenciamento.Domain.Entities.SubServicePlan

@{
    ViewBag.Title = "Create";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SubServicePlan")">Planejamentos das Obras</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastrar Planejamento da Obra</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)
        <input id="CodeStatus" name="CodeStatus" value="1" type="hidden" />
        <input id="Percent" name="Percent" value="0" type="hidden" />
        <fieldset>
            <legend>Criar Planejamento da Obra</legend>

            <div class="form-group">
                <label for="Service">Planejamento</label>
                @Html.DropDownList("CodePlan", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Service">Sub-Serviço</label>
                @Html.DropDownList("CodeSubService", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Service">Dependência</label>
                @Html.DropDownList("CodeSubServicePlanDepen", null, "Selecione", new { @class = "selectpicker" })
            </div>

            <div class="form-group">
                <label for="Name">Sequência</label>
                @Html.TextBoxFor(model => model.Order, new { @class = "ValorTotalNoZero form-control", placeholder = "Insira uma sequência", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Valor Total</label>
                @Html.TextBoxFor(model => model.TotalValue, new { @class = "ValorTotalNoZero form-control", placeholder = "Insira um Valor", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Unidade de Medida</label>
                @Html.TextBoxFor(model => model.MeasuraUnit, new { @class = "form-control", placeholder = "Insira uma Unidade de Medida", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Quantidade de Repetição</label>
                @Html.TextBoxFor(model => model.AmountRepetition, new { @class = "form-control", placeholder = "Insira uma quantidade", required = true, @min = "0", @type = "number" })
            </div>

     

            <div class="form-group">
                <label for="Name">Estimativa em dias</label>
                @Html.TextBoxFor(model => model.EstimationInDays, new { @class = "form-control", placeholder = "Insira uma estimativa", required = true, @min = "0", @type = "number" })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </fieldset>
    }

</div>

