﻿@model RochaGerenciamento.Domain.Entities.SubServicePlan

@{
    ViewBag.Title = "Details";
    System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("pt-BR");
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SubServicePlan")">Planejamentos das Obras</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhes Planejamento da Obra</li>
        </ol>
    </nav>
    <fieldset>
        <legend>Detalhes</legend>

        <div class="form-group">
            <label for="Name">Status Atual</label>
            @Html.TextBoxFor(model => model.Status.Name, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Service">Planejamento</label>
            @Html.TextBoxFor(model => model.Plan.Name, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Service">Sub-Serviço</label>
            @Html.TextBoxFor(model => model.SubService.Name, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Service">Dependência</label>
            @Html.TextBoxFor(model => model.SubServicePlanAux.Code , new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Valor Total</label>
            @Html.TextBoxFor(model => model.TotalValue, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Unidade de Medida</label>
            @Html.TextBoxFor(model => model.MeasuraUnit, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Quantidade de Repetição</label>
            @Html.TextBoxFor(model => model.AmountRepetition, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Porcentagem Concluida</label>
            @Html.TextBoxFor(model => model.Percent, new { @class = "form-control", disabled = "disabled" })
        </div>


        <div class="form-group">
            <label for="Name">Estimativa em dias</label>
            @Html.TextBoxFor(model => model.EstimationInDays, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Data Execução</label>
            <input type="text" value="@(Model.DateStart == null ? String.Empty : Model.DateStart.Value.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />

        </div>

        <div class="form-group">
            <label for="Name">Data Parou</label>
            <input type="text" value="@(Model.DateStop == null ? String.Empty : Model.DateStop.Value.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />

        </div>

        <div class="form-group">
            <label for="Name">Data Reiniciou</label>
            <input type="text" value="@(Model.DateRefresh == null ? String.Empty : Model.DateRefresh.Value.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />

        </div>

        <div class="form-group">
            <label for="Name">Data Finalizou</label>
            <input type="text" value="@(Model.DateFinish == null ? String.Empty : Model.DateFinish.Value.GetDateTimeFormats('f')[0].ToString()) " class="form-control" disabled="disabled" />

        </div>


    </fieldset>
</div>
