﻿@model RochaGerenciamento.Domain.Entities.Owner

@{
    ViewBag.Title = "Create";

}
<script>
    $(function () {
        if (document.referrer.includes("Client/Create"))
            $('#CodeClient').selectpicker('val', [document.getElementById('CodeClient').length - 1]);
    });
</script>
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Owner")">Proprietarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Proprietario</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Criar Proprietario</legend>
            
            <div class="form-group">
                <label for="Name">Cliente</label>
                @Html.DropDownList("CodeClient", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group">
                <label for="Name">Unidade</label>
                @Html.DropDownList("CodeUnit", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group">
                <label for="Name">Status da Compra</label>
                @Html.DropDownList("CodeStatusPurchase", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>


            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </fieldset>
    }

</div>
