﻿@model RochaGerenciamento.Domain.Entities.Owner

@{
    ViewBag.Title = "Details";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Owner")">Proprietarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhe Proprietario</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Detalhe Proprietario</legend>

            <div class="form-group">
                <label for="Name">Obra</label>
                @Html.TextBoxFor(model => model.Unit.Construction.Name, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Cliente</label>
                @Html.TextBoxFor(model => model.Client.Name, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Unidade</label>
                @Html.TextBoxFor(model => model.Unit.Name, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Numero</label>
                @Html.TextBoxFor(model => model.Unit.Number, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Localização</label>
                @Html.TextBoxFor(model => model.Unit.Localization.Name, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Status da Compra</label>
                @Html.TextBoxFor(model => model.StatusPurchase.Name, new { @class = "form-control", disabled = "disabled" })
            </div>


        </fieldset>
    }

</div>
