﻿@model RochaGerenciamento.Domain.Entities.Owner

@{
    ViewBag.Title = "Edit";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Owner")">Proprietarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Proprietario</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Proprietario</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Obra</label>
                @Html.TextBoxFor(model => model.Unit.Construction.Name, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="Name">Cliente</label>
                @Html.DropDownList("CodeClient", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group">
                <label for="Name">Unidade</label>
                @Html.DropDownList("CodeUnit", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group">
                <label for="Name">Status da Compra</label>
                @Html.DropDownList("CodeStatusPurchase", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }

</div>