﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.Owner>

@{
    ViewBag.Title = "Index";
}

<script>


    $(function () {

        var index = 0;
        grid("#grid-data1");
        flag1 = true;
        flag2 = true;
        $('.tab-acao').click(function () {
            index = $("#tabs").tabs('option', 'active');
            //$("#filter-confirm").trigger("click");

            if (index === 0) {
                $('#grid-data1').bootgrid('reload');

            } else if (index === 1) {

                if (flag1)
                    grid("#grid-data2");
                else
                    $('#grid-data2').bootgrid('reload');

                flag1 = false;
            } else if (index === 2) {

                if (flag2)
                    grid("#grid-data3");
                else
                    $('#grid-data3').bootgrid('reload');

                flag2 = false;
            } 

        });

        function grid(grids) {

            var grid = $(grids).bootgrid({
                ajax: true,
                post: function () {
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                requestHandler: function (request) {

                    request.code = index + 1;
                    return request;
                },
                formatters: {
                    "commands": function (column, row) {
                        edit = "<button type=\"button\" title=\"Editar\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-edit\"></span></button>";
                        detail = "<button  type=\"button\" title=\"Detalhes\" class=\"btn btn-xs btn-default command-detalhe\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-th-list\"></span></button>";
                        delet = "<button  type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-trash\"></span></button>";


                        return edit + detail + delet;
                    }

                }

            }).on("loaded.rs.jquery.bootgrid", function () {
                var url = $("#Controller").val();
                grid.find(".command-detalhe").unbind().on("click", function (e) {
                    location.href = url + "/Details/" + $(this).data("row-id");
                }).end().find(".command-edit").on("click", function (e) {
                    location.href = url + "/Edit/" + $(this).data("row-id");
                }).end().find(".command-delete").on("click", function (e) {
                    if (confirm('Deseja excluir este registro?'))
                        location.href = url + "/Delete/" + $(this).data("row-id");
                });
            });
        }
    });
</script>

<div class="innerpage">
    
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proprietários</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    <button type="button" class="btn btn-default"><a href="@Url.Action("Create")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")

    <div id="tabs" class="nav nav-tabs" role="tablist">
        <ul>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-1">Negociando</a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-2">Vendido</a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-3">Nao Vendido</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabs-1">
                <div class="table-responsive">
                    <table id="grid-data1" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "Owner")">
                        <thead>
                            <tr>
                                
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Unit">Unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Client">Cliente</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Status">Status</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-2">
                <div class="table-responsive">
                    <table id="grid-data2" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "Owner")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Unit">Unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Client">Cliente</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Status">Status</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-3">
                <div class="table-responsive">
                    <table id="grid-data3" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "Owner")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Unit">Unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Client">Cliente</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Status">Status</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("Controller", "Owner")
</div>