﻿@model IList<RochaGerenciamento.Domain.StoredProcedures.ListPurchasesContract>
@{
    ViewBag.Title = "EmployeeVsProduct";
    string month="";
    string year="";
    string day="";
    var list = @Model;
}

<style>
    th {
        font-size: 9pt !important;
        font-weight: 100;
    }
</style>
<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Relatório Propietarios/Contratos</span>";
        printContents = printContents + document.getElementById("append").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

</script>


<fieldset>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
    <span id="append" class="append">
        <table class="table table-condensed">
            <thead>
                @foreach (var purchase in @Model)
                {
                    if (year == "" || year != purchase.Year)
                    {
                        @Html.Raw("<tr><th colspan='4'><h3><strong>" + purchase.Year + "</strong></h3></th>");
                        year = purchase.Year;
                    }

                    if (month == "" || month != purchase.Month)
                    {
                        @Html.Raw("<tr><th colspan='4'><h3><strong>" + purchase.Month + "</strong></h3></th>");
                        month = purchase.Month;
                    }

                    if (day == "" || day != purchase.Day)
                    {
                        @Html.Raw("<tr><th colspan='4'><h5><strong>" + purchase.Day + " de " + purchase.Month + "</strong></h5></th>");
                        @Html.Raw("<tr><th scope='col'>Cliente</th>");
                        @Html.Raw("<th scope='col'>Origem</th>");
                        @Html.Raw("<th scope='col'>Data Contato</th>");
                        @Html.Raw("<th scope='col'>Telefone</th>");
                        day = purchase.Day;
                    }

                    if (day == "" || day == purchase.Day)
                    {
                        @Html.Raw("<tr><th scope='row'>" + purchase.Client + "</th>");
                        @Html.Raw("<th scope='row'>" + purchase.ContactOrigin + "</th>");
                        @Html.Raw("<th scope='row'>" + purchase.AttendanceDate + "</th>");
                        @Html.Raw("<th scope='row'>" + purchase.Phone + "</th></tr>");
                    }


                }

            </thead>
        </table>

    </span>
    
    
</fieldset>
<br />
<span id="append" class="append">

</span>


