﻿@{
    ViewBag.Title = "EmployeeVsProduct";
}

@{
    ViewBag.Title = "Index";
}

<style>
    th {
        font-size: 9pt !important;
        font-weight: 100;
    }
</style>
<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Relatório Produtos por Empregado</span>";
        printContents = printContents + document.getElementById("append").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

    

    $(function () {

        function header() {

        }

        $("#filter-confirm").click(function () {
            if ($("#CodeEmployee").val() == "")
                return alert("escolha um funcionario");
            $(".append").html("");
            $.ajax({
                url: "EmployeeVsProduct/?codEmployee=" + $("#CodeEmployee").val(),
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var total = 0.0;


                    var table = "<table class='table table-condensed'><thead>";
               

                    var toSumProducts = "";
                    var mes = "";
                    var ano = "";
                    var dia = "";
                    result.List.forEach(function (element) {
                        toSumProducts = element.Amount;

                        if (ano == "" || ano != element.Year) {
                            table = table + "<tr><th colspan='4'><h3><strong>" + element.Year + "</strong></h3></th>";

                            ano = element.Year;
                        }

                        if (mes == "" ||  mes != element.Month) {
                            table = table + "<tr><th colspan='4'><h3><strong>"+ element.Month +"</strong></h3></th>";
                       
                            mes = element.Month;
                        }

                        if (dia == "" || dia != element.Day) {
                            table = table + "<tr><th colspan='4'><h5><strong>" + element.Day + " de " + element.Month + "</strong></h5></th>";
                            table = table + "<tr>";
                            table = table + "<th scope='col'>Obra</th>";
                            table = table + "<th scope='col'>Produto</th>";
                            table = table + "<th scope='col'>Data Baixa</th>";
                            table = table + "<th scope='col'>Quantidade</th>";
                            dia = element.Day;
                        }

                        if (dia == "" || dia == element.Day) {

                            table = table + "<tr><th scope='row'>" + element.Construction + "</th>";
                            table = table + "<th scope='row'>" + element.Product + "</th>";
                            table = table + "<th scope='row'>" + element.AlterationDate + "</th>";
                            table = table + "<th scope='row'>" + element.Amount + "</th></tr>";
                            
                        }
                            
                        total = total + parseFloat(toSumProducts.replace(",", "."));
              
                    });

                    
                    table = table + "<tr><th colspan='3'><strong>Total Geral</strong></th>";
                    table = table + "<th><strong>" + Math.round(total * 100) / 100 + "</strong></th></tr>";
            
                    table = table + "</tbody></table>";
                    $(".append").append(table);
                    $(".loader").hide();
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "")
                        alert(result.Success);

                }
            });
        });
    });
</script>


<fieldset>
    <legend>Filtros</legend>

    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Funcionario</label>
                @Html.DropDownList("CodeEmployee", null, "TODAS", new { @class = "selectpicker", required = true })
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="hidden" class="form-control" name="firstDate" id="date-start" value=""/>
            <input type="hidden" class="form-control" name="lastDate" id="date-finish" value=""/>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
</fieldset>
<br />
<span id="append" class="append">

</span>


