﻿@{
    ViewBag.Title = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<style>
    th {
        font-size: 9pt !important;
        font-weight: 100;
    }
</style>
<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Relatório Gastos Vs Receita</span>";
        printContents = printContents + document.getElementById("append").innerHTML;
        
        
        //var img = new Image();
        ///img.src = document.getElementById("myChart").toDataURL("image/png");
        //alert(document.getElementById("myChart").toDataURL("image/png"));
        //printContents = printContents + '<br>' + img.textContent;


        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

    $(function () {
        
        var myChart = "";
        var ctx = "";
        function buildGraph() {
            $("#myChart").remove();
            $(".appendChart").append('<canvas id="myChart" class="chart-canvas" width="200" height="100"></canvas>');
            ctx = document.getElementById("myChart").getContext('2d');
            //ctx.clearRect(0, 0, document.getElementById("myChart").width, document.getElementById("myChart").height);
            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Gastos", "Receita", "Total"],
                    datasets: [{
                        label: '# total R$',
                        data: [],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                         
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                           
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    animation: {
                        onComplete: function () {
                            // set the PDF printing trigger when the animation is done
                            // to have this working, the phantom-pdf menu in the left must
                            // have the wait for printing trigger option selected
                            window.JSREPORT_READY_TO_START = true
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        $("#filter-confirm").click(function () {
            $(".append").html("");
            $.ajax({
                url: "ExpenditureVsIncoming/?codeConstruction=" + $("#CodeConstruction").val() +
                    "&dateStart=" + $("#date-start").val() + "&dateFinish=" + $("#date-finish").val() ,
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var graph = [];

                    var table = "<table class='table table-condensed'><thead><tr>";
                    table = table + "<th scope='col'>Gastos</th>";
                    table = table + "<th scope='col'>Receita</th>";
                    table = table + "<th scope='col'>Resultado</th>";

                    result.List.forEach(function (element) {

                        table = table + "<tr><th scope='row'>" + element.Expenditure + "</th>";
                        table = table + "<th scope='row'>" + element.Incoming + "</th>";
                        table = table + "<th scope='row'>" + element.Result + "</th></tr>";
                        graph.push(element.Expenditure.replace(",", "."));
                        graph.push(element.Incoming.replace(",", "."));
                        graph.push(element.Result.replace(",", "."));

                    });
                    table = table + "</tbody></table>";
                    
                    buildGraph();
                    var i;
                    for (i = 0 ; i < graph.length ; i++) 
                        myChart.data.datasets[0].data[i] = graph[i];
                    
                    myChart.update();
                    $(".append").append(table);
                    $(".loader").hide();

                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "")
                        alert(result.Success);

                }
            });
        });
    });
</script>


<fieldset>
    <legend>Filtros</legend>

    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "TODAS", new { @class = "selectpicker" })
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Gastos DE:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-start" id="date-start" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col col-lg-6">
                <label for="Name">ATÉ:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-finish" id="date-finish" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
</fieldset>
<br />

<span id="append" class="append">

</span>
<div class="appendChart">
</div>

