﻿@{
    ViewBag.Title = "FilterByOrder";
}

<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Ordem de Compra - Rocha Empreendimentos</span>";
        printContents = printContents + document.getElementById("append").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

    $(function () {
        $("#block-email").hide();

        $("#filter-confirm").click(function () {
            if ($("#CodeOrder").val() == "") {
                alert("Escolha uma ordem de compra");
                return;
            }
            $(".append").html("");
            $.ajax({
                url: "FilterOrder/?codeOrder=" + $("#CodeOrder").val() ,
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var total = 0.0;
                    $(".loader").hide();
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "")
                        alert(result.Success);
                    var table = "<table id='pdf-order' class='table table-condensed'>";
                    table = table + "<tr><th colspan='2'  scope='col'><center>NÚMERO DA ORDEM " + result.List[0].NumOrder + "</center></th>";
                    table = table + "<tr><th scope='col'>Avenida João Evangelista, 795 - Lj. A, Santa Matilde - Conselheiro Lafaiete/MG</th>";
                    table = table + "<th scope='col'>FVM:( )Sim ( )Não</th></tr>";
                    table = table + "<tr><th colspan='2' scope='col'><center>Tel.: (31) 3762-3806 / E-mail: compras@rochaempreendimentos.net</center></th></tr>";
                    table = table + "<tr><th scope='col'>Fornecedor: " + result.List[0].Provider + "</th>";
                    table = table + "<th scope='col'>Contato: " + result.List[0].Contact  + "</th></tr>";
                    table = table + "<tr><th scope='col'>Endereço: " + result.List[0].Address + "</th>";
                    table = table + "<th scope='col'>Telefone: "+ result.List[0].Phone +"</th></tr>";
                    table = table + "</tbody></table><br>";

                    table = table + "<table class='table table-bordered'><thead class='thead-dark'><tr>";
                    table = table + "<th scope='col'><strong>UNIDADE</strong></th>";
                    table = table + "<th scope='col'><strong>QUANTIDADE</strong></th>";
                    table = table + "<th scope='col'><strong>DESCRIÇÃO</strong></th>";
                    table = table + "<th scope='col'><strong>VALOR UNITÁRIO</strong></th>";
                    table = table + "<th scope='col'><strong>VALOR TOTAL</strong></th></tr></thead><tbody>";

                    var toSum = "";

                    result.List.forEach(function (element) {
                        toSum = element.Total;


                        table = table + "<tr><th scope='row'>" + element.UnitType + "</th>";
                        table = table + "<th scope='row'>" + element.Amount + "</th>";
                        table = table + "<th scope='row'>" + element.Product + "</th>";
                        table = table + "<th scope='row'>" + element.ValueUnit + "</th>";
                        table = table + "<th scope='row'>" + element.Total + "</th></tr>";

                        total = total + parseFloat(toSum.replace(",", "."));
                        //// totalDiscount = totalDiscount + parseFloat(toSumDiscount.replace(",", "."));
                        // totalFinal = totalFinal + parseFloat(toSumFinal.replace(",", "."));
                        // amountProducts = amountProducts + parseFloat(toSumProducts.replace(",", "."));
                        // amountInstallments = amountInstallments + parseFloat(toSumInstallments);
                    });

                    console.log(result.List[0]);
                    table = table + "<tr><th colspan='5'><center><strong>OBS: * Favor nos enviar a nota fiscal somente dos produtos que realmente vão ser entregues</strong></center></th>";
                    table = table + "<tr><th colspan='5'><center><strong>* Horário de recebimento de material: <br>Segunda a quinta feira de 07:10 ás 11:20 hrs e de 13:10 ás 16:20 <br>Sexta feira de 07:00 ás 11:20 hrs e de 13:10 ás 15:20 hrs</strong></center></th>";
                    table = table + "<tr><th colspan='4'><strong>Total(R$)</strong></th>";
                    table = table + "<th ><strong>" + (Math.round(total * 100) / 100).toString().replace(".",",") + "</strong></th></tr>";
                    table = table + "<tr><th colspan='4'><strong>Desconto(R$)</strong></th>";
                    table = table + "<th ><strong>" + result.List[0].Discount + "</strong></th></tr>";
                    table = table + "<tr><th colspan='4'><strong>Frete(R$)</strong></th>";
                    table = table + "<th ><strong>" + result.List[0].ShippingCost + "</strong></th></tr>";
                    table = table + "<tr><th colspan='4'><strong>Mao de Obra(R$)</strong></th>";
                    table = table + "<th ><strong>" + result.List[0].LaborCost + "</strong></th></tr>";
                    table = table + "<tr><th colspan='4'><strong>Total Final(R$)</strong></th>";
                    table = table + "<th ><strong>" + result.List[0].TotalValueSale + "</strong></th></tr>";
                    // table = table + "<th ><strong>" + Math.round(totalDiscount * 100) / 100 + "</strong></th>";
                    //table = table + "<th ><strong>" + Math.round(totalFinal * 100) / 100 + "</strong></th></tr>";
                    //table = table + "<tr><th colspan='5'><strong>Total Produtos</strong></th>";
                    //table = table + "<th ><strong>" + Math.round(amountProducts * 100) / 100 + "</strong></th></tr>";
                    //table = table + "<tr><th colspan='5'><strong>Total Parcelas</strong></th>";
                    //table = table + "<th ><strong>" + amountInstallments + "</strong></th></tr>";
                    table = table + "<tr><th colspan='6'>Prazo de Entrega: " + result.List[0].Estimation + "</th></tr>";
                    table = table + "<tr><th colspan='6'>Local de Entrega: " + result.List[0].Destination + "</th></tr>";
                    table = table + "<tr><th colspan='6'>Análise Crítica/Aprovação:</th></tr>";
                    table = table + "<tr><th >Emitido Por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name</th>";
                    table = table + "<th colspan='4'>Assinatura </th></tr>";
                    table = table + "<tr><th >Aprovação:</th>";
                    table = table + "<th colspan='2'>Recebimento:</th>";
                    table = table + "<th colspan='2'>Data: </th></tr>";
                    table = table + "</tbody></table>";

                    $("#email-provider").val(result.List[0].Email + ",");
                    $(".append").append(table);
                    $("#block-email").show();


                }
            });
        });

        $("#filter-send-email").click(function () {
             var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

            //printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Ordem de Compra - Rocha Empreendimentos</span>";
            printContents = printContents + document.getElementById("append").innerHTML;
            
            var imgVal = $('#uploadFile').val();
            if (imgVal == '') {
                alert("Escola um arquivo para ser enviado!");
                return false;
            }
            $.ajax({
                url: "SendOrder/?body=" + JSON.stringify(printContents),
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                }
            });


        });

    });
</script>
<fieldset>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Enviando Email para Fornecedor</h4>
        </a>
        <a href="#" class="list-group-item" >
            
            <p class="list-group-item-text" >1 - Execute o Filtro e Gerel o relatorio</p>
            <p class="list-group-item-text">2 - Salve o arquivo no computador clicando em Imprimir Relatorio(Existe a opcao de salvar ao clicar em imprimir relatorio)</p>
            <p class="list-group-item-text">3 - A opcao de enviar email aparecera. Em seguida, selecione o arquivo salvo no computador e clique em enviar.</p>
        </a>
    </div>
 
    <legend>Filtros</legend>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Ordem de Compra</label>
                @Html.DropDownList("CodeOrder", null, "", new { @class = "selectpicker" })
            </div>
            
        </div>
    </div>
    
    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
    
    @using (Html.BeginForm("SendOrderToProvider", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    <div class="form-group" id="block-email">
        <input type="hidden" name="to" id="email-provider"/>
        <label for="UnitType">Enviar Email para Fornecedor</label>
        <div class="input-group col col-lg-6">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Escolher um arquivo&hellip; <input type="file" id="uploadFile" name="uploadFile" style="display: none;" required />
                </span>
            </label>
            <input type="text" name="Specs" class="form-control" readonly>
        </div>
        <button type="submit" class="btn btn-default" id="filter-send-email">Enviar Ordem ao Fornecedor</button>
    </div>
    
    }
</fieldset>
<br />
<span id="append" class="append">

</span>
