﻿@{
    ViewBag.Title = "Index";
}

<style>
    th {
        font-size: 9pt !important;
        font-weight: 100;
    }
</style>
<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Relatório Receita</span>";
        printContents = printContents + document.getElementById("append").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

    $(function () {
        $("#filter-confirm").click(function () {
            $(".append").html("");
            $.ajax({
                url: "Incoming/?codeConstruction=" + $("#CodeConstruction").val() +
                    "&dateStart=" + $("#date-start").val() + "&dateFinish=" + $("#date-finish").val() ,
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var total = 0.0;

                    var table = "<table class='table table-condensed'><thead><tr>";
                    table = table + "<th scope='col'>Obra</th>";
                    table = table + "<th scope='col'>Contrato</th>";
                    table = table + "<th scope='col'>Tipo de Contrato</th>";
                    table = table + "<th scope='col'>Data Acordo</th>";
                    table = table + "<th scope='col'>Unidade</th>";
                    table = table + "<th scope='col'>Numero</th>";
                    table = table + "<th scope='col'>Bloco</th>";
                    table = table + "<th scope='col'>Localização</th>";
                    table = table + "<th scope='col'>Cliente</th>";
                    table = table + "<th scope='col'>Total</th>";

                    var toSum = "";
                    result.List.forEach(function (element) {
                        toSum = element.Total;

                        table = table + "<tr><th scope='row'>" + element.Construction + "</th>";
                        table = table + "<th scope='row'>" + element.Contract + "</th>";
                        table = table + "<th scope='row'>" + element.ContractType + "</th>";
                        table = table + "<th scope='row'>" + element.AgreementDate + "</th>";
                        table = table + "<th scope='row'>" + element.Unit + "</th>";
                        table = table + "<th scope='row'>" + element.Number + "</th>";
                        table = table + "<th scope='row'>" + element.Block + "</th>";
                        table = table + "<th scope='row'>" + element.Localization + "</th>";
                        table = table + "<th scope='row'>" + element.Client + "</th>";
                        table = table + "<th scope='row'>" + element.Total + "</th></tr>";
                        total = total + parseFloat(toSum.replace(",", "."));
                    });
                    table = table + "<tr><th colspan='9'>Valor Total</th>";
                    table = table + "<th >" + Math.round(total * 100) / 100 + "</th></tr>";
                    table = table + "</tbody></table>";
                    $(".append").append(table);
                    $(".loader").hide();
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "")
                        alert(result.Success);

                }
            });
        });
    });
</script>


<fieldset>
    <legend>Filtros</legend>

    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "TODAS", new { @class = "selectpicker" })
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Data Acordo DE:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-start" id="date-start" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col col-lg-6">
                <label for="Name">Data Acordo ATÉ:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-finish" id="date-finish" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
</fieldset>
<br />
<span id="append" class="append">

</span>

