﻿@{
    ViewBag.Title = "Index";
}

<style>
    th {
        font-size: 9pt !important;
        font-weight: 100;
    }
</style>
<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";
    
        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Relatório Ordem</span>";
        printContents = printContents + document.getElementById("append").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

    $(function () {
        $("#filter-confirm").click(function () {
            $(".append").html("");
            $.ajax({
                url: "Order/?codeConstruction=" + $("#CodeConstruction").val() + "&approval=" + $("#Approval").val() +
                    "&dateStart=" + $("#date-start").val() + "&dateFinish=" + $("#date-finish").val() ,
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var total = 0.0;
                    var totalDiscount = 0.0;
                    var totalFinal = 0.0;
                    var amountProducts = 0;
                    var amountInstallments = 0;
                    

                    var table = "<table class='table table-condensed'><thead><tr>";
                    table = table + "<th scope='col'>Obra</th>";
                    table = table + "<th scope='col'>Ordem</th>";
                    table = table + "<th scope='col'>Num Ordem</th>";
                    table = table + "<th scope='col'>Aprovado?</th>";
                    table = table + "<th scope='col'>Data Estimativa</th>";
                    table = table + "<th scope='col'>Qtde Produtos</th>";
                    table = table + "<th scope='col'>Qtde Parcelas</th>";
                    table = table + "<th scope='col'>Valor Total</th>";
                    table = table + "<th scope='col'>Desconto</th>";
                    table = table + "<th scope='col'>Valor Final</th>";
                    
                    var toSum = "";
                    var toSumProducts = "";
                    var toSumInstallments = "";
                    var toSumDiscount = "";
                    var toSumFinal = "";
                    result.List.forEach(function (element) {
                        toSum = element.TotalValue;
                        toSumProducts = element.ProductAmount;
                        toSumInstallments = element.InstallmentAmount;
                        toSumDiscount = element.Discount;
                        toSumFinal = element.TotalValueSale;

                        table = table + "<tr><th scope='row'>" + element.Construction + "</th>";
                        table = table + "<th scope='row'>" + element.Order + "</th>";
                        table = table + "<th scope='row'>" + element.NumberOrder + "</th>";
                        table = table + "<th scope='row'>" + element.Approval + "</th>";
                        table = table + "<th scope='row'>" + element.EstimationDate + "</th>";
                        table = table + "<th scope='row'>" + element.ProductAmount + "</th>";
                        table = table + "<th scope='row'>" + element.InstallmentAmount + "</th>";
                        table = table + "<th scope='row'>" + element.TotalValue + "</th>";
                        table = table + "<th scope='row'>" + element.Discount + "</th>";
                        table = table + "<th scope='row'>" + element.TotalValueSale + "</th></tr>";
                        
                        total = total + parseFloat(toSum.replace(",", "."));
                        totalDiscount = totalDiscount + parseFloat(toSumDiscount.replace(",", "."));
                        totalFinal = totalFinal + parseFloat(toSumFinal.replace(",", "."));
                        amountProducts = amountProducts + parseFloat(toSumProducts.replace(",", "."));
                        amountInstallments = amountInstallments + parseFloat(toSumInstallments);
                    });
                    table = table + "<tr><th colspan='7'><strong>Valores(R$)</strong></th>";
                    table = table + "<th ><strong>" + Math.round(total * 100) / 100 + "</strong></th>";
                    table = table + "<th ><strong>" + Math.round(totalDiscount * 100) / 100 + "</strong></th>";
                    table = table + "<th ><strong>" + Math.round(totalFinal * 100) / 100 + "</strong></th></tr>";
                    table = table + "<tr><th colspan='9'><strong>Total Produtos</strong></th>";
                    table = table + "<th ><strong>" + Math.round(amountProducts * 100) / 100 + "</strong></th></tr>";
                    table = table + "<tr><th colspan='9'><strong>Total Parcelas</strong></th>";
                    table = table + "<th ><strong>" + amountInstallments + "</strong></th></tr>";
                    table = table + "</tbody></table>";
                    $(".append").append(table);
                    $(".loader").hide();
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "")
                        alert(result.Success);

                }
            });
        });
    });
</script>


<fieldset>
    <legend>Filtros</legend>

    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "TODAS", new { @class = "selectpicker" })
            </div>
            <div class="col col-lg-6">
                <label for="Name">Aprovado</label>
                @Html.DropDownList("Approval", null, "TODAS", new { @class = "selectpicker" })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Data Estimativa DE:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-start" id="date-start" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col col-lg-6">
                <label for="Name">Data Estimativa ATÉ:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-finish" id="date-finish" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
</fieldset>
<br />
<span id="append" class="append">

</span>

