﻿

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>


    $(function () {

        var myChart = "";
        var ctx = "";
        function buildGraph() {
            $("#myChart").remove();
            $(".appendChart").append("").append('<canvas id="myChart" class="chart-canvas" width="200" height="100"></canvas>');
            ctx = document.getElementById("myChart").getContext('2d');
            //ctx.clearRect(0, 0, document.getElementById("myChart").width, document.getElementById("myChart").height);
            myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [],
                    datasets: [{
                        label: '#',
                        data: [],
                        backgroundColor: [
                            'rgb(128,128,0,0.2)',
                            'rgb(34,139,34,0.2)',
                            'rgb(95,158,160,0.2)',
                            
                        ],
                        borderColor: [
                            'rgb(128,128,0,1)',
                            'rgb(34,139,34,1)',
                            'rgb(95,158,160,1)',
                        

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    animation: {
                        duration: 500,
                        easing: "easeOutQuart",

                        onComplete: function () {
                            var ctx = this.chart.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            
                            var labelsx = [];
                            this.data.labels.forEach(function (dataset) {
                                labelsx.push(dataset);
                            })

                            this.data.datasets.forEach(function (dataset) {

                                for (var i = 0; i < dataset.data.length; i++) {
                                    var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                                        total = dataset._meta[Object.keys(dataset._meta)[0]].total,
                                        mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius) / 2,
                                        start_angle = model.startAngle,
                                        end_angle = model.endAngle,
                                        mid_angle = start_angle + (end_angle - start_angle) / 2;

                                    var x = mid_radius * Math.cos(mid_angle);
                                    var y = mid_radius * Math.sin(mid_angle);

                                    ctx.fillStyle = '#000';
                                    if (i == 3) { // Darker text color for lighter background
                                        ctx.fillStyle = '#444';
                                    }
                                    var percent = String((dataset.data[i] / total * 100).toFixed(2)) + "%";

                                    //Don't Display If Legend is hide or value is 0
                                    if (dataset.data[i] != 0) {
                                        ctx.fillText(dataset.data[i], model.x + x, model.y + y);
                                        // Display percent in another line, line break doesn't work for fillText
                                        ctx.fillText(percent, model.x + x, model.y + y + 15);
                                        ctx.fillText(labelsx[i], model.x + x, model.y + y + 25);
                                    }
                                }
                            })
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: []
                    }
                }
            });
        }

        $("#filter-confirm").click(function () {
            $(".append").html("");
            
            $.ajax({
                url: "OwnerPurchases/?year=" + $("#year").val() + "&month=" + $("#CodeMonths").val(),
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var graph = [];
                    var label = [];

                    $(".loader").hide();
                    if (result.Error != "") {
                        alert(result.Error);
                        return;
                    }
                    if (result.Success != "")
                        alert(result.Success);

                    result.List.forEach(function (element) {

                        label.push(element.StatusPurchase);
                        graph.push(element.Amount.replace(",", "."));

                    });

                    buildGraph();
                    var i;
                    for (i = 0 ; i < graph.length ; i++) {

                        myChart.data.datasets[0].data[i] = graph[i];
                        myChart.data.labels[i] = label[i];
                    }
                    myChart.update();



                }
            });
        });
    });
</script>


<fieldset>
    <legend>Quantitativo de situação de compra VS proprietários</legend>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Ano</label>
                <input class="form-control" id="year" name="year" type="text" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Mes</label>
                @Html.DropDownList("CodeMonths", null, "", new { Name = "month", @class = "selectpicker" })
            </div>

        </div>
    </div>

    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
</fieldset>
<br />

<span id="append" class="append">

</span>
<div class="appendChart">
</div>