﻿@{
    ViewBag.Title = "Index";
}

<style>
    th {
        font-size: 9pt !important; 
        font-weight: 100;
    }
</style>
<script>
    function printDiv(divName) {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";
        var typeReport = "Valor";
        if ($("#TypeReport").val() == "quantity")
            typeReport = "Quantidade";
        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Relatório Estoque Por " + typeReport + "</span>";
        printContents = printContents + document.getElementById("append").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }

    $(function () {
        $("#filter-confirm").click(function () {
            $(".append").html("");
            $.ajax({
                url: "Stock/?codeConstruction=" + $("#CodeConstruction").val() + "&codeProduct=" + $("#CodeProduct").val() +
                    "&codeProvider=" + $("#CodeProvider").val() + "&codeUnitType=" + $("#CodeUnitType").val() + "&dateStart=" + $("#date-start").val() +
                    "&dateFinish=" + $("#date-finish").val() + "&codeSituation=" + $("#CodeSituation").val(),
                type: 'Post',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                traditional: true,
                beforeSend: function (xhr) {
                    $(".loader").show();
                },
                success: function (result) {
                    var totalValue = 0.0;
                    var totalSumQuantity = 0.0;
                    var table = "<table class='table table-condensed'><thead><tr>";
                    table = table + "<th scope='col'>Obra</th>";
                    table = table + "<th scope='col'>Produto</th>";
                    table = table + "<th scope='col'>Fornecedor</th>";
                    table = table + "<th scope='col'>Situação</th>";
                    table = table + "<th scope='col'>Data Baixa</th>";
                    table = table + "<th scope='col'>Data Disponibilidade</th>";
                    table = table + "<th scope='col'>Limite</th>";
                    table = table + "<th scope='col'>Valor</th>";
                    table = table + "<th scope='col'>Qtde</th></tr></thead><tbody>";

                    var toSumValue = "";
                    var toSumQuantity = "";
                    var typeReportValue;
                    result.List.forEach(function (element) {
                        
                        toSumValue = element.ValueUnit;
                        toSumQuantity = element.Amount;
                        
                        table = table + "<tr><th scope='row'>" + element.Construction + "</th>";
                        table = table + "<th scope='row'>" + element.Product + "</th>";
                        table = table + "<th scope='row'>" + element.Provider + "</th>";
                        table = table + "<th scope='row'>" + element.Situation + "</th>";
                        if (element.Situation == "Usado")
                            table = table + "<th scope='row'>" + element.AlterationDate + "</th>";
                        else
                            table = table + "<th scope='row'>--</th>";
                        table = table + "<th scope='row'>" + element.AvailabilityDate + "</th>";
                        table = table + "<th scope='row'>" + element.Limit + "</th>";
                        table = table + "<th scope='row'>" + element.ValueUnit + "</th>";
                        table = table + "<th scope='row'>" + element.Amount + "</th>";

                        totalValue = totalValue + parseFloat(toSumValue.replace(",", "."));
                        totalSumQuantity = totalSumQuantity + parseFloat(toSumQuantity.replace(",", "."));
                    });
                    table = table + "<tr><th colspan='7'>Valor Total</th>";
                    table = table + "<th >" + Math.round(totalValue * 100) / 100 + "</th>";
                    table = table + "<th >" + Math.round(totalSumQuantity * 100) / 100 + "</th></tr>";
                    table = table + "</tbody></table>";
                    $(".append").append(table);
                    $(".loader").hide();
                    if (result.Error != "")
                        alert(result.Error);
                    if (result.Success != "")
                        alert(result.Success);

                }
            });
        });
    });
</script>


<fieldset>
    <legend>Filtros</legend>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Situação</label>
                @Html.DropDownList("CodeSituation", null, "TODAS", new { @class = "selectpicker" })
            </div>

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "TODAS", new { @class = "selectpicker" })
            </div>
            <div class="col col-lg-6">
                <label for="Name">Produto</label>
                @Html.DropDownList("CodeProduct", null, "TODAS", new { @class = "selectpicker" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Fornecedor</label>
                @Html.DropDownList("CodeProvider", null, "TODAS", new { @class = "selectpicker" })
            </div>
            <div class="col col-lg-6">
                <label for="Name">Tipo de Unidade</label>
                @Html.DropDownList("CodeUnitType", null, "TODAS", new { @class = "selectpicker" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Data de disponibilidade DE:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-start" id="date-start" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col col-lg-6">
                <label for="Name">Data de disponibilidade ATÉ:</label>
                <div class='input-group date' id='datetimepicker2'>
                    <input type="text" class="form-control" name="date-finish" id="date-finish" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col col-lg-6">
                <label for="Name">Tipo de Relatório:</label>
                @Html.DropDownList("TypeReport", null, null, new { @class = "selectpicker" })
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-default" id="filter-confirm">Executar Filtro</button>
    <button type="button" class="btn btn-default" onclick="printDiv('printableArea');" id="print">Imprimir Relatório</button>
</fieldset>
<br />
<span id="append" class="append">

</span>

