﻿@model RochaGerenciamento.Domain.Entities.User
@{
    ViewBag.Title = "Logar";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="innerpage">
    <div class="arealogin">
        @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

        @using (Html.BeginForm("Index", "Autenticacao", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                
                <div class="col-sm-5">
                    <label for="Name">Login</label>
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Login", maxlength = "20", required = true })

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label>Senha</label>

                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Senha", maxlength = "20", required = true })

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">
                        Entrar
                    </button>

                </div>
            </div>
        }
    </div>
</div>
