﻿@model RochaGerenciamento.Domain.Entities.Unit

@{
    ViewBag.Title = "Create";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product")">Produtos</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Unit")">Unidades</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Unidade</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Criar Tipo de Unidade</legend>

            <div class="form-group">
                <label for="Obra">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Description">Número</label>
                @Html.TextBoxFor(model => model.Number, new { @class = "form-control", placeholder = "Insira um número", required = true })
            </div>

            <div class="form-group">
                <label for="Description">Bloco</label>
                @Html.TextBoxFor(model => model.Block, new { @class = "form-control", placeholder = "Insira um bloco" })
            </div>

            <div class="form-group">
                <label for="Description">Pavimento</label>
                @Html.TextBoxFor(model => model.Floor, new { @class = "form-control", placeholder = "Insira um pavimento" })
            </div>

            <div class="form-group">
                <label for="Obra">Localização</label>
                @Html.DropDownList("CodeLocalization", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Description">Tamanho Comum</label>
                @Html.TextBoxFor(model => model.CommonSize, new { @class = "form-control calculate_area", placeholder = "Insira o tamanho comum" })
            </div>

            <div class="form-group">
                <label for="Description">Tamanho Privado</label>
                @Html.TextBoxFor(model => model.PrivaceSize, new { @class = "form-control calculate_area", placeholder = "Insira o tamanho privado" })
            </div>

            <div class="form-group">
                <label for="Description">Outras Areas Privativas</label>
                @Html.TextBoxFor(model => model.OtherAreasSize, new { @class = "form-control calculate_area", placeholder = "Insira o tamanho para outras areas" })
            </div>

            <div class="form-group">
                <label for="Description">Tamanho Total</label>
                @Html.TextBoxFor(model => model.TotalSize, new { @class = "form-control calculate_area", placeholder = "Insira o tamanho total" })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </fieldset>
    }

</div>