﻿@model RochaGerenciamento.Domain.Entities.Provider

@{
    ViewBag.Title = "Create";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Provider")">Fornecedores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Fornecedor</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Criar Fornecedor</legend>

            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Insira um Email" })
            </div>

            <div class="form-group">
                <label for="Obra">PSQ?</label>
                @Html.DropDownList("PSQ", null, null, new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Contato</label>
                @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", placeholder = "Insira um Contato", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Telefone</label>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Insira um Telefone", required = true })
            </div>

            <div class="form-group">
                <label for="MaterialType">Tipo de Material</label>
                @Html.DropDownList("CodeMaterialType", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group block_address_select">
                <label for="MaterialType">Endereco</label>
                @Html.DropDownList("CodeAddress", null, "Selecione", new { @class = "selectpicker" })
                <button id="ad_button" type="button" class="btn btn-primary">Cadastrar Novo Endereco</button>
            </div>
            <div id="block_address">
                <div class="form-group">
                    <label for="MaterialType">Rua</label>
                    @Html.TextBoxFor(model => model.Address.Name, new { @class = "form-control ad_inputs", placeholder = "Insira uma Rua" })
                </div>

                <div class="form-group">
                    <label for="MaterialType">Cidade</label>
                    @Html.TextBoxFor(model => model.Address.City, new { @class = "form-control ad_inputs", placeholder = "Insira uma Cidade" })
                </div>

                <div class="form-group">
                    <label for="MaterialType">Bairro</label>
                    @Html.TextBoxFor(model => model.Address.Borough, new { @class = "form-control ad_inputs", placeholder = "Insira um bairro" })
                </div>

                <div class="form-group">
                    <label for="MaterialType">Numero</label>
                    @Html.TextBoxFor(model => model.Address.Number, new { @class = "form-control ad_inputs", placeholder = "Insira um numero" })
                </div>

                <div class="form-group">
                    <label for="MaterialType">Estado</label>
                    @Html.TextBoxFor(model => model.Address.State, new { @class = "form-control ad_inputs", placeholder = "Insira um estado" })
                </div>
                
            </div>
            

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </fieldset>
    }
</div>