﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.ProductConstruction>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductConstruction")">Estoque</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dar Baixa Estoque</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm("Confirm", "ProductConstruction",
                           FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Baixa</legend>
     
           
            <div class="form-group">
                <div class="form-group">
                    <label for="Obra">Obra</label>
                    @Html.DropDownList("CodeConstruction", null, "Selecione", new { Name = "codeConstruction", @class = "selectpicker", required = true })
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="Obra">Funcionario</label>
                    @Html.DropDownList("CodeEmployee", null, "Selecione", new { Name = "codeEmployee", @class = "selectpicker", required = true })
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="Obra">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
            </div>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int counter = 0;
                        foreach (var item in Model)
                        {
                            <input type="hidden" value="@(item.Product.Code)" name="codeProducts[@counter]" />
                            <input type="hidden" value="@(item.Code)" name="codeProductConstructions[@counter]" />
                            <tr>
                                <th class="col-md-8 product_name">@item.Product.Name</th>
                                <td class="col-md-2"><input type="text" class="form-control amount amount_decimal_point" name="amounts[@counter]"></td>
                                
                            </tr>
                            counter = counter + 1;
                        }
                    }

                </tbody>
            </table>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Confirmar Baixa</button>
            </div>
        </fieldset>
    }

</div>