﻿@model RochaGerenciamento.Domain.Entities.ProductConstruction


@{
    ViewBag.Title = "Edit";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductConstruction")">Estoque</a></li>
            <li class="breadcrumb-item active" aria-current="page">Realocar Material</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Realocar Material</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            @Html.HiddenFor(model => model.CodeProduct)
            @Html.HiddenFor(model => model.AvailabilityDate)

            <input type="hidden" value="1" name="CodeSituation" />

            <div class="form-group">
                <label for="Obra">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Realocar</button>
            </div>
        </fieldset>
    }
</div>



