﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.ProductConstruction>

@{
    ViewBag.Title = "Index";
}

<script>

    function funcaoPromptMovimentacao(mensagem, parametro, amount, codProduct, codConstruction, codEmployee, codeProductConstruction) {

        var result;
        if (result = prompt(mensagem)) {
            result = result.replace(",", ".");
            amount = amount.toString().replace(",", "");
        
            if ((result <= amount && result > 0) && !isNaN(result))
                controlaStatus(parametro + "amount=" + result + "&codProduct=" + codProduct + "&codConstruction=" + codConstruction + "&codEmployee=" + codEmployee + "&codProductConstruction=" + codeProductConstruction);
            else
                alert("Atenção! O número de quantidade inserido é maior que a quantidade disponível ou o valor inserido é zero");
        
        }
    }


    function controlaStatus(url) {
        $.ajax({
            url: url,
            type: 'Post',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            traditional: true,
            beforeSend: function (xhr) {
                $(".loader").show();
            },
            success: function (result) {
                if (result.Message == "Back" ) {
                    $('.nav-tabs a[href="#tabs-2"]').tab('show');
                    $("#grid-data2").bootgrid('reload');
                }
                if (result.Message == "Confirmed" || result.Message == "Recycle") {
                    $('#grid-data1').bootgrid('reload');
                }
                $(".loader").hide();
                if (result.Error != "")
                    alert(result.Error);
                if (result.Success != "")
                    alert(result.Success);

            }
        });
    }

    $(function () {
        var rowIds = [];
        var index = 0;
        grid("#grid-data1" );
        flag1 = true;
        flag2 = true;
        flag3 = true;
        $('.tab-acao').click(function () {
            index = $("#tabs").tabs('option', 'active');
            //$("#filter-confirm").trigger("click");

            if (index === 0) {
                $('#grid-data1').bootgrid('reload');

            } else if (index === 1) {

                if (flag1)
                    grid("#grid-data2");
                else
                    $('#grid-data2').bootgrid('reload');

                flag1 = false;
            } else if (index === 2) {

                if (flag2)
                    grid("#grid-data3");
                else
                    $('#grid-data3').bootgrid('reload');

                flag2 = false;
            } else if (index === 3) {

                if (flag3)
                    grid("#grid-data4");
                else
                    $('#grid-data4').bootgrid('reload');

                flag3 = false;
            }

        });

        $("#confirm-many-items").click(function () {
            window.location.href = $("#Controller").val() + "/Confirm/" + rowIds.join(",");
        });

        function grid(grids) {

            var grid = $(grids).bootgrid({
                ajax: true,
                post: function () {
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                selection: true,
                multiSelect: true,
                keepSelection: true,
                requestHandler: function (request) {

                    request.code = index + 1;
                    return request;
                },
                formatters: {
                    "commands": function (column, row) {
                        finish = "<button  type=\"button\" title=\"Dar Baixa\" class=\"btn btn-xs btn-default command-finish\" data-row-check=\"" + row.CheckDate + "\" data-row-amount=\"" + row.Amount + "\" data-row-id=\"" + row.Code + "\" data-row-construc=\"" + row.CodeConstruction + "\"><span class=\"glyphicon glyphicon-ok\"></span></button>";
                        back = "<button  type=\"button\" title=\"Retornar ao estoque\" class=\"btn btn-xs btn-default command-back\" data-row-date=\"" + row.RawDate + "\" data-row-employee=\"" + row.CodeEmployee + "\" data-row-amount=\"" + row.Amount + "\" data-row-id=\"" + row.CodeProduct + "\" data-row-cod-pc=\"" + row.Code + "\"  data-row-construc=\"" + row.CodeConstruction + "\"><span class=\"glyphicon glyphicon-arrow-left\"></span></button>";
                        recycle = "<button  type=\"button\" title=\"Desvincular da Obra\" class=\"btn btn-xs btn-default command-recycle\" data-row-amount=\"" + row.Amount + "\" data-row-id=\"" + row.CodeProduct + "\" data-row-construc=\"" + row.CodeConstruction + "\"><span class=\"glyphicon glyphicon-transfer\"></span></button>";
                        edit = "<button type=\"button\" title=\"Editar\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.Code + "\"><span class=\"glyphicon glyphicon-edit\"></span></button>";
                        receipt = "<button  type=\"button\" title=\"Recibo\" class=\"btn btn-xs btn-default command-receipt\" data-row-date=\"" + row.AlterationDate + "\" data-row-employee=\"" + row.Employee + "\"  data-row-amount=\"" + row.Amount + "\" data-row-product=\"" + row.Product + "\" data-row-construc=\"" + row.Construction + "\"><span class=\"glyphicon glyphicon-save-file\"></span></button>";

                        if (index === 0) {
                            return finish;
                        } else if (index === 1) {
                            return back + receipt;
                        } else if (index === 2) {
                            return edit;
                        }
                        return "";
                    },
                    "LimitAlert": function (column, row) {
                        if (parseInt(row.Amount) > parseInt(row.Limit))
                            return "<span tittle='No Prazo' style='color:green;'><span class=\"glyphicon glyphicon-thumbs-up\"></span></span>";
                        if (parseInt(row.Amount) == parseInt(row.Limit))
                            return "<span tittle='Vencendo' style='color:orange;'><span class=\"glyphicon glyphicon-exclamation-sign\"></span></span>";
                        return "<span tittle='Vencido' style='color:red;'><span class=\"glyphicon glyphicon-thumbs-down\"></span></span>";
                    },

                }

            }).on("selected.rs.jquery.bootgrid", function (e, rows) {
                
                for (var i = 0; i < rows.length; i++) {
                    rowIds.push(rows[i].Code);
                }
            }).on("deselected.rs.jquery.bootgrid", function (e, rows) {
                var index = rowIds.indexOf(rows[0].Code);
                if (index > -1) {
                    rowIds.splice(index, 1);
                }
            }).on("loaded.rs.jquery.bootgrid", function () {
                var url = $("#Controller").val();
                grid.find(".command-detalhe").unbind().on("click", function (e) {
                    location.href = url + "/Details/" + $(this).data("row-id");
                }).end().find(".command-finish").unbind().on("click", function (e) {
                    //var mensagem = 'Quantos produtos deseja dar baixa?';
                    if ($(this).data("row-check") == "1")
                        alert('ALERTA!Este produto foi aprovado mas parece não ter chegado ainda no estoque! ');
                    // parametro = url + "/Confirm/?";
                    //funcaoPromptMovimentacao(mensagem, parametro, $(this).data("row-amount"), $(this).data("row-id"), $(this).data("row-construc"));
               
                    location.href = url + "/Confirm/" + $(this).data("row-id");
                }).end().find(".command-back").unbind().on("click", function (e) {
                    var mensagem = 'Quantos produtos deseja voltar para o estoque?';
                    var parametro = url + "/Back/?date=" + $(this).data("row-date") + "&";
         
                    funcaoPromptMovimentacao(mensagem, parametro, $(this).data("row-amount"), $(this).data("row-id"), $(this).data("row-construc"), $(this).data("row-employee"), $(this).data("row-cod-pc"));
                }).end().find(".command-recycle").unbind().on("click", function (e) {
                    var mensagem = 'Quantos produtos deseja desvincular desta obra?';
                    var parametro = url + "/Recycle/?";
                    funcaoPromptMovimentacao(mensagem, parametro, $(this).data("row-amount"), $(this).data("row-id"), $(this).data("row-construc"));
                }).end().find(".command-edit").on("click", function (e) {
                    location.href = url + "/Edit/" + $(this).data("row-id");
                }).end().find(".command-receipt").on("click", function (e) {
                    location.href = url + "/Receipt/?employee=" + $(this).data("row-employee") + "&amount="
                                                        + $(this).data("row-amount") + "&product="
                                                        + $(this).data("row-product") + "&construction="
                                                        + $(this).data("row-construc") + "&date="
                                                        + $(this).data("row-date");
                });
            });
        }
    });
</script>

<div class="innerpage">
    @if (RochaGerenciamento.Domain.ValueObject.Session.AmountNotVerified != null)
    {
        <div class="alert alert-info">
            <strong>Quantidade Itens Nao Conforme:</strong> @RochaGerenciamento.Domain.ValueObject.Session.AmountNotVerified

        </div>
    }
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Estoque</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    
    <div id="tabs" class="nav nav-tabs" role="tablist">
        <ul>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-1">Disponíveis</a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-2">Utilizados</a></li>
            <li style="width:0px;"><a style="visibility: hidden;" class="tab-acao" role="tab" data-toggle="tab" href="#tabs-3"></a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-4">Nao Conforme</a></li>
        </ul>
        <div class="tab-content">
            
            <div class="tab-pane fade in active" id="tabs-1">
                <button id="confirm-many-items" class="btn btn-default">Dar Baixa</button>
                <div class="table-responsive">
                    <table id="grid-data1" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ProductConstruction")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-column-id="CodeProduct" data-visible="false" data-identifier="true" data-formatter="CodeProduct"></th>
                                <th data-width="10" data-column-id="CodeConstruction" data-visible="false" data-formatter="CodeConstruction"></th>
          
                                <th data-width="10" data-column-id="CheckDate" data-visible="false">Checkdate</th>
                                
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberOrder">Numero Ordem</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-formatter="LimitAlert" data-column-id="LimitAlert"></th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Limit">Limite</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AvailabilityDate">Data de Disponibilidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente?</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountPerUnit">Quantidade por unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="UnitType">Tipo de Unidade</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-2">
                <div class="table-responsive">
                    <table id="grid-data2" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ProductConstruction")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="GroupCodeProductConstruction" data-visible="false" data-formatter="GroupCodeProductConstruction"></th>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-column-id="CodeEmployee" data-visible="false">CodigoEmp</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberOrder">Numero Ordem</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente?</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountPerUnit">Quantidade por unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="UnitType">Tipo de Unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AlterationDate">Data Baixa</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Employee">Funcionario</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-3">
                
            </div>
            <div class="tab-pane fade in active" id="tabs-4">
                <div class="table-responsive">
                    <table id="grid-data4" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ProductConstruction")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="GroupCodeProductConstruction" data-visible="false" data-formatter="GroupCodeProductConstruction"></th>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberOrder">Numero Ordem</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente?</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountPerUnit">Quantidade por unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="UnitType">Tipo de Unidade</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("Controller", "ProductConstruction")
</div>