﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.ProductConstruction>

@{
    ViewBag.Title = "Index";
}

<script>


    $(function () {
        var index = 0;
        grid("#grid-data1");
        flag1 = true;
        flag2 = true;
        $('.tab-acao').click(function () {
            index = $("#tabs").tabs('option', 'active');
            //$("#filter-confirm").trigger("click");

            if (index === 0) {
                $('#grid-data1').bootgrid('reload');

            } else if (index === 1) {

                if (flag1)
                    grid("#grid-data2");
                else
                    $('#grid-data2').bootgrid('reload');

                flag1 = false;
            } else if (index === 2) {

                if (flag2)
                    grid("#grid-data3");
                else
                    $('#grid-data3').bootgrid('reload');

                flag2 = false;
            }

        });

        function grid(grids) {

            var grid = $(grids).bootgrid({
                ajax: true,
                post: function () {
                    return {
                        id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                    };
                },
                requestHandler: function (request) {

                    request.code = index + 1;
                    return request;
                },
                formatters: {
                    "LimitAlert": function (column, row) {
                        if (parseInt(row.Amount) > parseInt(row.Limit))
                            return "<span tittle='No Prazo' style='color:green;'><span class=\"glyphicon glyphicon-thumbs-up\"></span></span>";
                        if (parseInt(row.Amount) == parseInt(row.Limit))
                            return "<span tittle='Vencendo' style='color:orange;'><span class=\"glyphicon glyphicon-exclamation-sign\"></span></span>";
                        return "<span tittle='Vencido' style='color:red;'><span class=\"glyphicon glyphicon-thumbs-down\"></span></span>";
                    },

                }

            });
        }
    });
</script>

<div class="innerpage">
    @if (RochaGerenciamento.Domain.ValueObject.Session.AmountNotVerified != null)
    {
        <div class="alert alert-info">
            <strong>Quantidade Itens Nao Conforme:</strong> @RochaGerenciamento.Domain.ValueObject.Session.AmountNotVerified

        </div>
    }
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Estoque</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")

    <div id="tabs" class="nav nav-tabs" role="tablist">
        <ul>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-1">Disponíveis</a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-2">Utilizados</a></li>
            <li style="width:0px;"><a style="visibility: hidden;" class="tab-acao" role="tab" data-toggle="tab" href="#tabs-3"></a></li>
            <li><a class="tab-acao" role="tab" data-toggle="tab" href="#tabs-4">Nao Conforme</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabs-1">
                <div class="table-responsive">
                    <table id="grid-data1" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ProductConstruction")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="CodeProduct" data-visible="false" data-formatter="CodeProduct"></th>
                                <th data-width="10" data-column-id="CodeConstruction" data-visible="false" data-formatter="CodeConstruction"></th>

                                <th data-width="10" data-column-id="CheckDate" data-visible="false">Checkdate</th>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberOrder">Numero Ordem</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-formatter="LimitAlert" data-column-id="LimitAlert"></th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Limit">Limite</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AvailabilityDate">Data de Disponibilidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente?</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountPerUnit">Quantidade por unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="UnitType">Tipo de Unidade</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-2">
                <div class="table-responsive">
                    <table id="grid-data2" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ProductConstruction")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="GroupCodeProductConstruction" data-visible="false" data-formatter="GroupCodeProductConstruction"></th>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-column-id="CodeEmployee" data-visible="false">CodigoEmp</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Construction">Obra</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente?</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountPerUnit">Quantidade por unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="UnitType">Tipo de Unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AlterationDate">Data Baixa</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Employee">Funcionario</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade in active" id="tabs-3">

            </div>
            <div class="tab-pane fade in active" id="tabs-4">
                <div class="table-responsive">
                    <table id="grid-data4" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "ProductConstruction")">
                        <thead>
                            <tr>
                                <th data-width="10" data-column-id="GroupCodeProductConstruction" data-visible="false" data-formatter="GroupCodeProductConstruction"></th>
                                <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="NumberOrder">Numero Ordem</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Recurrent">Recorrente?</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="AmountPerUnit">Quantidade por unidade</th>
                                <th data-width="10" data-sortable="false" data-order="asc" data-column-id="UnitType">Tipo de Unidade</th>
                                <th data-width="100" data-header-css-class="tamanho-coluna-10" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("Controller", "ProductConstruction")
</div>