﻿@{
    ViewBag.Title = "Receipt";
}
<script>
    function printDiv() {
        var printContents = "Retirado por: @RochaGerenciamento.Domain.ValueObject.SessionUser.Object.Name.<br>";

        printContents = printContents + "<img src='@Url.Content("~/Images/marca.png")'  alt='Rocha' height='50'/><span>Recibo - Rocha Empreendimentos</span>";
        printContents = printContents + document.getElementById("receipt").innerHTML;

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        location.reload();

        //document.body.innerHTML = originalContents;
    }
</script>
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "ProductConstruction")">Estoque</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recibo</li>
        </ol>
    </nav>
    <div id="receipt">

        <legend>Comprovante de Retirada de Material</legend>

        <div class="form-group">
            <label for="Name">Obra</label>
            <input type="text" disabled="true" value="@ViewBag.Construction" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Name">Funcionario</label>
            <input type="text" disabled="true" value="@ViewBag.Employee" class="form-control" />
        </div>


        <div class="form-group">
            <label for="Name">Produto</label>
            <input type="text" disabled="true" value="@ViewBag.Product" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Name">Quantidade</label>
            <input type="text" disabled="true" value="@ViewBag.Amount" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Name">Data da Baixa</label>
            <input type="text" disabled="true" value="@ViewBag.Date" class="form-control" />
        </div>


    </div>

    <button type="button" class="btn btn-default" onclick="printDiv();" id="print">Imprimir Recibo</button>
</div>
