﻿@model RochaGerenciamento.Domain.Entities.Request

@{
    ViewBag.Title = "Create";
}
<script>
    $(document).ready(function () {
        var totalValue = 0;
        var listAllValues = [];
        var listAllValuesUnit = [];
        var listSelText = [];
        $(".btn2").click(function () {
            listAllValues = [];
            var values = $('#CodeProduct').val();
            var selText = "";
            $("#CodeProduct option:selected").each(function () {
                var $this = $(this);
                if ($this.length) {
                    selText = selText + ";" + $this.text();
                }
            });
            listSelText = selText.split(";");
            
            $("#add-products").html("");
            
            for (i = 1 ; i < listSelText.length  ; i++) {
                getValue = listSelText[i].split("| R$:");
                listAllValues.push(getValue[1]);
                $("#add-products").append("<div class='form-group'><label>" + getValue[0] + "</label><input class='form-control' id='RequestProducts_Amount' name='RequestProducts[" + (i - 1) + "].Amount' min='1' value='1' type='number' /><input id='RequestProducts_IdcActive' name='RequestProducts[" + (i - 1) + "].IdcActive' value='1' type='hidden' /><input type='hidden' id='RequestProducts_CodeProduct' name='RequestProducts[" + (i - 1) + "].CodeProduct' value='" + values[i - 1] + "' /></div>");
            }
            

        })

        $(".btn3").click(function () {
            $("#MessageShown").html("");
            $("#Message").val('');
            var message = "Solicitação de compra destinada ao setor de compras. Solicito a compra dos produtos: ";
            $("#MessageShown").append(message);
            $("#Message").val(message + "#BREAKLINE");
            for (i = 0 ; i < listSelText.length - 1  ; i++) {
                valor = $("input[name='RequestProducts[" + (i) + "].Amount']").val();
                $("#MessageShown").append("- " + listSelText[i + 1] + " Quantidade: " + valor + " ");
                $("#Message").val($("#Message").val() + " - " + listSelText[i + 1] + " Quantidade: " + valor + " #BREAKLINE");
            }
            $("#MessageShown").append(" Date de Necessidade: " + $("#NeedDate").val());
            $("#Message").val($("#Message").val() + "#BREAKLINE Date de Necessidade: " + $("#NeedDate").val() + " #BREAKLINE");
        });
    });
    
</script>

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Request")">Solicitações de compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Criar Solicitação</li>
        </ol>
    </nav>
        @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    

    <div class="container">

        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" class="not-clickable-anchor btn btn-primary btn-circle">1</a>
                    <p>Passo 1</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Passo 2</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-3" class="not-clickable-anchor btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Passo 3</p>
                </div>

            </div>
        </div>
        @using (Html.BeginForm("Create", "Request",
                           FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Criar Solicitação de Compra</legend>
                
                <div class="row setup-content" id="step-1">
                    <div class="form-group">
                        <label for="Titulo">Título</label>
                        @Html.TextBoxFor(model => model.Tittle, new { @Value = "Solicitação de Compra nº " + @DateTime.Now.Year + @DateTime.Now.Month + @DateTime.Now.Day + @DateTime.Now.Hour + @DateTime.Now.Minute + @DateTime.Now.Second, @readonly = "readonly", @class = "form-control", placeholder = "Insira um Titulo", required = true })
                    </div>

                    <div class="form-group">
                        <label for="Obra">Produto</label>
                        @Html.DropDownList("CodeProduct", null, null, new { @class = "selectpicker", multiple = "multiple", required = "required" })
                    </div>

                    <div class="form-group">
                        <label for="StartDate">Date de Necessidade</label>
                        <div class='input-group date' id='datetimepicker2'>
                            @Html.TextBoxFor(model => model.NeedDate, new { @class = "form-control", placeholder = "Insira uma data de necessidade", required = true })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <button class="btn2 btn btn-primary nextBtn btn-lg pull-right" id="first-step-next" type="button">Próximo</button>

                </div>
                <div class="row setup-content" id="step-2">
                    <span id="add-products">

                    </span>
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button class="btn3 btn btn-primary nextBtn btn-lg pull-right" id="first-step-next" type="button">Próximo</button>
                </div>

                <div class="row setup-content" id="step-3">
                    <div class="form-group">
                        <label for="Titulo">Observacao</label>
                        @Html.TextBoxFor(model => model.Observation, new {  @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Messagem">Mensagem</label>
                        <textarea class="form-control" readonly name="MessageShown" id="MessageShown"></textarea>
                        <input class="form-control" type="hidden" name="Message" id="Message">
                    </div>
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Voltar</button>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Cadastrar</button>
                </div>

            </fieldset>
        }

    </div>
</div>