﻿@model RochaGerenciamento.Domain.Entities.Request

@{
    ViewBag.Title = "Details";
}
<script>
    $(function () {
        var grid = $("#grid-data-request-products").bootgrid({
            ajax: true,
            post: function () {
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            requestHandler: function (request) {
                request.code= @(Model.Code);
                return request;
            }
        });
    })
</script>
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Request")">Solicitações de compra</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhes da Solicitação</li>
        </ol>
    </nav>

    <fieldset>
        <legend>Detalhes</legend>

        <div class="form-group">
            <label for="Name">Título</label>
            @Html.TextBoxFor(model => model.Tittle, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="form-group">
            <label for="Name">Mensagem</label>
            <textarea rows="5" cols="5" class="form-control" disabled="disabled">@Model.Message</textarea>
        </div>

        <div class="form-group">
            <label for="Name">Observacao</label>
            <textarea rows="5" cols="5" class="form-control" disabled="disabled">@Model.Observation</textarea>
        </div>

        <div class="form-group">
            <label for="Name">Data de Necessidade</label>
            @Html.TextBoxFor(model => model.NeedDate, new { @class = "form-control", disabled = "disabled" })
        </div>
        

    </fieldset>
    <div class="table-responsive">
        <table id="grid-data-request-products" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "RequestProduct")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Product">Produto</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Provider">Fornecedor</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Amount">Quantidade Requisitada</th>

                </tr>
            </thead>
        </table>
    </div>
</div>
