﻿@model RochaGerenciamento.Domain.Entities.Installment
@{
    ViewBag.Title = "Edit";
    var url = RochaGerenciamento.Domain.ValueObject.Session.UrlBill;
    var idAux = Model.CodeBill;
    var pageAux = "Gastos";
    if (RochaGerenciamento.Domain.Enums.ReturnBillType.Incoming == url)
    {
        idAux = Model.Bill.ContractIncomings.FirstOrDefault().Code;
        pageAux = "Receitas";
    }
        
        
}   

<script>
    $(document).ready(function () {
        $("#Value").blur(function () {
            if (parseFloat($(this).val()) > parseFloat($("#TotalValue").val())) {
                alert("O Valor inserido é maior que o valor total do boleto!");
                $(this).val("");
            }else
                alert("ATENÇÃO! Você alterou o valor de uma parcela! Após finalizar esta edição EDITE uma outra ou mais parcelas até atingir o  valor total! Caso contrario, haverá uma inconsistência de dados");
            
        });
    });
</script>


<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", url)">@pageAux</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Details", url , new { id = idAux })">Detalhes Registro Financeiro</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Parcela</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Editar Parcela</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CodeBill)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Obra">Pago?</label>
                @Html.DropDownList("Checked", null, null, new { @class = "selectpicker", required = true })
            </div>

            <input type="hidden" value="@(Model.Bill.TotalValue)" id="TotalValue" />
            <input type="hidden" value="@(Model.Value)" id="PreviousValue" />
            <div class="form-group">
                <label for="Obra">Valor</label>
                @Html.TextBoxFor(model => model.Value, new { @class = "form-control", placeholder = "Insira um valor", required = true })
            </div>

            <div class="form-group">
                <label for="StartDate">Data de Vencimento</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control", placeholder = "Insira uma data de vencimento", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="StartDate">Data de Pagamento</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.PaymentDate, new { @class = "form-control", placeholder = "Insira uma data de pagamento" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Obra">Sequência</label>
                @Html.TextBoxFor(model => model.Sequence, new { @readonly= "readonly",  @class = "form-control", placeholder = "Insira um código de barras", required = true })
            </div>


            
            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }
</div>