﻿@model RochaGerenciamento.Domain.Entities.Plan

@{
    ViewBag.Title = "Edit";
}

<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Construction")">Obras</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Plan")">Planejamentos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Planejamento</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Criar Planjamento</legend>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreationDate)
            @Html.HiddenFor(model => model.CodeCreationUser)
            @Html.HiddenFor(model => model.IdcActive)
            <div class="form-group">
                <label for="Name">Nome</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Insira um Nome", required = true })
            </div>

            <div class="form-group">
                <label for="StartDate">Início</label>
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", placeholder = "Insira uma data de início", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Deadline">Previsão</label>
                <div class='input-group date' id='datetimepicker3'>
                    @Html.TextBoxFor(model => model.Deadline, new { @class = "form-control", placeholder = "Insira uma data de previsão", required = true })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="ConclusionDate">Data de Conclusão</label>
                <div class='input-group date' id='datetimepicker4'>
                    @Html.TextBoxFor(model => model.ConclusionDate, new { @class = "form-control", placeholder = "Insira uma data de conclusão" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="Obra">Obra</label>
                @Html.DropDownList("CodeConstruction", null, "Selecione", new { @class = "selectpicker", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Valor Estimado</label>
                @Html.TextBoxFor(model => model.EstimationValue, new { @class = "form-control", placeholder = "Insira um Valor", required = true })
            </div>

            <div class="form-group">
                <label for="Name">Valor Real da Obra Final</label>
                @Html.TextBoxFor(model => model.RealValue, new { @class = "form-control", placeholder = "Insira um Valor", required = true })
            </div>

            <div class="form-group">
                <!-- Submit button !-->
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </fieldset>
    }
</div>


