﻿@model IEnumerable<RochaGerenciamento.Domain.Entities.Plan>

@{
    ViewBag.Title = "Planejamento";
}
<div class="innerpage">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Principal")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Construction")">Obras</a></li>
            <li class="breadcrumb-item active" aria-current="page">Planejamentos</li>
        </ol>
    </nav>
    @Html.Partial("~/Views/Shared/_mensagemRetorno.cshtml")

    <button type="button" class="btn btn-default"><a href="@Url.Action("Create")">Adicionar Novo</a></button>
    @Html.Partial("~/Views/Shared/_exportFiles.cshtml")
    <div class="table-responsive">
        <table id="grid-data" class="table table-condensed table-hover table-striped" data-url="@Url.Action("List", "Plan")">
            <thead>
                <tr>
                    <th data-width="10" data-column-id="Code" data-visible="false">Codigo</th>
                    <th data-width="10" data-sortable="false" data-order="asc" data-column-id="Name">Nome</th>
                    <th data-width="10" data-sortable="false" data-column-id="StartDate">Início</th>
                    <th data-width="10" data-sortable="false" data-column-id="Deadline">Previsão</th>
                    <th data-width="10" data-sortable="false" data-column-id="ConclusionDate">Conclusão</th>
                    <th data-width="10" data-sortable="false" data-column-id="EstimationValue">Valor Estimado</th>
                    <th data-width="10" data-sortable="false" data-column-id="RealValue">Valor Real Final</th>
                    <th data-width="100" data-column-id="commands" data-formatter="commands" data-sortable="false"></th>
                </tr>
            </thead>
        </table>
    </div>
    @Html.Hidden("Controller", "Plan")

</div>