﻿@{
    if (RochaGerenciamento.Domain.ValueObject.Session.CodeConstruction != 0)
    {
        <div id="nameConstructionSesssion" class="alert alert-info">Você está trabalhando com a obra: <b>@RochaGerenciamento.Domain.ValueObject.Session.NameConstruction.ToUpper()</b></div>
    }


}