﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Scripts/time-dialog/timeout-dialog.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/time-dialog/timeout-dialog.js")"></script>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-theme.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap-select/dist/css/bootstrap-select.min.css")">
    <script src="@Url.Content("~/Scripts/bootstrap-select/js/bootstrap-select.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootgrid/jquery.bootgrid.css")">

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootgrid/jquery.bootgrid.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-master/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/datetime/build/js/bootstrap-datetimepicker.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/datetime/build/css/bootstrap-datetimepicker.min.css")" />

    <script src="@Url.Content("~/Scripts/Site.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-bootstrap/assets/js/vendor/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css")">
    <script type="text/javascript" src="@Url.Content("~/Scripts/maskMoney.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/tableExport/tableExport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tableExport/libs/FileSaver/FileSaver.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tableExport/libs/js-xlsx/xlsx.core.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/tableExport/libs/jsPDF/jspdf.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js")"></script>


    <script>
        $(function () {
            var fnTimeOut = function () {
                jQuery.timeoutDialog.setupDialogTimer({
                    timeout: 888,
                    countdown: 10,
                    logout_redirect_url: '@Url.Action("Logout", "Autenticacao")',
                    keep_alive_url: '@Url.Action("KeepAlive", "Autenticacao")'
                });
            };
            fnTimeOut();
        });
    </script>

    <title>Rocha Empreendimentos - Gerenciamento</title>
</head>
<body role="document">
    <IFRAME ID="KeepAliveFrame" src="@Url.Action("KeepAlive", "Autenticacao")" frameBorder="0" width="0" height="0" runat="server"></IFRAME>
    <div class="loader" id="overlay"></div>
    <div class="container theme-showcase" role="main">
        <div class="innerpage">
            @Html.Partial("~/Views/Shared/_Menu.cshtml")
            @Html.Partial("~/Views/Shared/_ConstructionChosen.cshtml")
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </div>
</body>
</html>