﻿<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="@Url.Content("~/Images/marca.png")" alt="Rocha" height="50" />
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Cadastros Básicos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Obra</a>
                            <ul class="dropdown-menu">
                                
                                <li class="dropdown dropdown-submenu">
                                    <a href="@Url.Action("Index", "Unit")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unidade</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Localization")">Localização</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="itemMenu">@Html.ActionLink("Tipo de Contrato", "Index", "ContractType")</li>
                        <li class="itemMenu">@Html.ActionLink("Tipo de Receita", "Index", "IncomingType")</li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Client")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cliente</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Estado Civil", "Index", "CivilStatus")</li>
                                <li class="itemMenu">@Html.ActionLink("Origem do Contato", "Index", "ContactOrigin")</li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Relatórios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Gastos Vs Receita", "ExpenditureVsIncoming", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Receita", "Incoming", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Data Atendimento/Mes", "AttendanceDate", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Contato Origem/Mes e Ano", "ContactOrigin", "Report")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Vendas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Contrato", "Index", "Contract")</li>
                        <li class="itemMenu">@Html.ActionLink("Receita", "Index", "ContractIncoming")</li>
                        <li class="itemMenu">@Html.ActionLink("Proprietario", "Index", "Owner")</li>
                    </ul>
                </li>
            </ul>

            @Html.Partial("~/Views/Shared/_Deslogar.cshtml")
        </div><!--/.nav-collapse -->
    </div>
</nav>