﻿@{
    if (!string.IsNullOrEmpty((string)TempData["Error"]))
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }
    if (!string.IsNullOrEmpty((string)TempData["Success"]))
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

}