﻿<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="@Url.Content("~/Images/marca.png")" alt="Rocha" height="50" />
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Cadastros Básicos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">@Html.ActionLink("Tarefa", "Index", "Task")</li>
                        <li class="dropdown">@Html.ActionLink("Area", "Index", "BuildingArea")</li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Relatórios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Estoque", "Stock", "Report")</li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Engenharia
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="itemMenu">@Html.ActionLink("Planejamento da Obra", "Index", "SubServicePlan")</li>
                        <li class="itemMenu">@Html.ActionLink("Ordem de Serviço", "ListTasks", "ManageTaskService")</li>

                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Almoxarifado
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="itemMenu">@Html.ActionLink("Estoque", "ListProductConstruction", "ProductConstruction")</li>
                        <li class="itemMenu">@Html.ActionLink("Solicitar Compra", "Index", "Request")</li>

                    </ul>
                </li>
            </ul>



            @Html.Partial("~/Views/Shared/_Deslogar.cshtml")
        </div><!--/.nav-collapse -->
    </div>
</nav>