﻿<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="@Url.Content("~/Images/marca.png")" alt="Rocha" height="50" />
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Cadastros Básicos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Product")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produto</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "UnitType")">Tipo de Unidade</a></li>
                            </ul>
                        </li>
                        <li class="itemMenu">
                            <a href="@Url.Action("Index", "Manufacturer")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fabricante</a>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Provider")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedor</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "MaterialType")">Tipo de Material</a></li>
                            </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="itemMenu">@Html.ActionLink("Tipo de Gasto", "Index", "ExpenditureType")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Relatórios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Estoque", "Stock", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "Order", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Filtrar Ordem de Compra", "FilterOrder", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Gastos Vs Receita", "ExpenditureVsIncoming", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Data Atendimento/Mes", "AttendanceDate", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Contato Origem/Mes e Ano", "ContactOrigin", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Compras/Propietario por mes/ano", "OwnerPurchases", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Clientes", "Clients", "Report")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Compras
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "Index", "ManageOrder")</li>
                        <li class="itemMenu">@Html.ActionLink("Gastos Gerais", "Index", "Expenditure")</li>

                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Almoxarifado
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="itemMenu">@Html.ActionLink("Estoque", "ListProductConstruction", "ProductConstruction")</li>

                    </ul>
                </li>
               
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Financeiro
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "ListOrder", "ManageOrder")</li>
                        <li class="itemMenu">@Html.ActionLink("Gasto", "Index", "ManageBill")</li>

                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Vendas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Contrato", "Index", "Contract")</li>
                        <li class="itemMenu">@Html.ActionLink("Receita", "ListIncoming", "ContractIncoming")</li>
                        <li class="itemMenu">@Html.ActionLink("Proprietario", "Index", "Owner")</li>
                    </ul>
                </li>
            </ul>

            @Html.Partial("~/Views/Shared/_Deslogar.cshtml")
        </div><!--/.nav-collapse -->
    </div>
</nav>