﻿<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="@Url.Content("~/Images/marca.png")" alt="Rocha" height="50" />
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Cadastros Básicos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Construction")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Obra</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown dropdown-submenu">
                                    <a href="@Url.Action("Index", "Plan")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planejamento</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Service")">Serviço</a></li>
                                        <li><a href="@Url.Action("Index", "SubService")">Sub-Serviço</a></li>
                                        <li><a href="@Url.Action("Index", "Project")">Projeto</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="@Url.Action("Index", "Unit")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unidade</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Localization")">Localização</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">@Html.ActionLink("Tarefa", "Index", "Task")</li>
                                <li class="dropdown">@Html.ActionLink("Area", "Index", "BuildingArea")</li>
                            </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Product")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produto</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "UnitType")">Tipo de Unidade</a></li>
                            </ul>
                        </li>
                        <li class="itemMenu">
                            <a href="@Url.Action("Index", "Manufacturer")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fabricante</a>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            
                            <a href="@Url.Action("Index", "Provider")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fornecedor</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "MaterialType")">Tipo de Material</a></li>
                            </ul>

                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="itemMenu">@Html.ActionLink("Tipo de Gasto", "Index", "ExpenditureType")</li>
                        <li class="itemMenu">@Html.ActionLink("Tipo de Contrato", "Index", "ContractType")</li>
                        <li class="itemMenu">@Html.ActionLink("Tipo de Receita", "Index", "IncomingType")</li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Client")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cliente</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Estado Civil", "Index", "CivilStatus")</li>
                                <li class="itemMenu">@Html.ActionLink("Origem do Contato", "Index", "ContactOrigin")</li>
                            </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Employee")" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funcionarios</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Cargos", "Index", "Position")</li>
                            </ul>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="itemMenu">@Html.ActionLink("Usuário", "Index", "User")</li>

                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Relatórios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu">
                            <a class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Almoxarifado</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Estoque", "Stock", "Report")</li>
                                <li class="itemMenu">@Html.ActionLink("Produtos por Empregado", "EmployeeVsProduct", "Report")</li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compras</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "Order", "Report")</li>
                                <li class="itemMenu">@Html.ActionLink("Filtrar Ordem de Compra", "FilterOrder", "Report")</li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Gastos Vs Receita", "ExpenditureVsIncoming", "Report")</li>
                                <li class="itemMenu">@Html.ActionLink("Receita", "Incoming", "Report")</li>
                                <li class="itemMenu">@Html.ActionLink("Clientes", "Clients", "Report")</li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graficos</a>
                            <ul class="dropdown-menu">
                                <li class="itemMenu">@Html.ActionLink("Data Atendimento/Mes", "AttendanceDate", "Report")</li>
                                <li class="itemMenu">@Html.ActionLink("Contato Origem/Mes e Ano", "ContactOrigin", "Report")</li>
                                <li class="itemMenu">@Html.ActionLink("Compras/Propietario por mes/ano", "OwnerPurchases", "Report")</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Engenharia
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="itemMenu">@Html.ActionLink("Planejamento da Obra", "Index", "SubServicePlan")</li>
                        <li class="itemMenu">@Html.ActionLink("Ordem de Serviço", "Index", "ManageTaskService")</li>

                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Almoxarifado
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Estoque", "Index", "ProductConstruction")</li>
                        <li class="itemMenu">@Html.ActionLink("Solicitar Compra", "Index", "Request")</li>
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "ListVerifyOrder", "ManageOrder")</li>

                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Compras
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "Index", "ManageOrder")</li>
                        <li class="itemMenu">@Html.ActionLink("Gasto Geral", "Index", "Expenditure")</li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Financeiro
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "ListOrder", "ManageOrder")</li>
                        <li class="itemMenu">@Html.ActionLink("Gasto", "Index", "ManageBill")</li>
                        
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Vendas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Contrato", "Index", "Contract")</li>
                        <li class="itemMenu">@Html.ActionLink("Receita", "ListIncoming", "ContractIncoming")</li>
                        <li class="itemMenu">@Html.ActionLink("Proprietario", "Index", "Owner")</li>
                    </ul>
                </li>

                
            </ul>

            @Html.Partial("~/Views/Shared/_Deslogar.cshtml")
        </div><!--/.nav-collapse -->
    </div>
</nav>