﻿<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="@Url.Content("~/Images/marca.png")" alt="Rocha" height="50" />
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
                <span class="icon-bar" style="background-color:gray"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Relatórios
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "Order", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Gastos Vs Receita", "ExpenditureVsIncoming", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Receita", "Incoming", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Compras/Propietario por mes/ano", "OwnerPurchases", "Report")</li>
                        <li class="itemMenu">@Html.ActionLink("Clientes", "Clients", "Report")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Financeiro
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Ordem de Compra", "ListOrder", "ManageOrder")</li>
                        <li class="itemMenu">@Html.ActionLink("Gasto", "Index", "ManageBill")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Vendas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="itemMenu">@Html.ActionLink("Receita", "ListIncoming", "ContractIncoming")</li>
                    </ul>
                </li>

            </ul>

            @Html.Partial("~/Views/Shared/_Deslogar.cshtml")
        </div><!--/.nav-collapse -->
    </div>
</nav>