﻿<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="@Url.Content("~/Images/marca.png")" style="margin-left:15px;" height="50px" />
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            @Html.Partial("~/Views/Shared/_Deslogar.cshtml")
        </div>
    </div>

</nav>