﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/favicon.ico")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-theme.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/Site.js")" type="text/javascript"></script>*@
    <title>Rocha Empreendimentos - Gerenciamento</title>
</head>
<body role="document">
    <div class="container theme-showcase" role="main">
        <div class="innerpage">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="@Url.Content("~/Images/marca.png")"  height="50" />
                    </div>
                </div>

            </nav>
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
    </div>
</body>
</html>